<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Britannia Medical &raquo; Centre" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>Britannia Medical Centre</title>

<!-- favicon icon -->
<link rel="shortcut icon" href="assets/bg5.jpg" />

<!-- bootstrap -->
<link rel="stylesheet" type="text/css" href="assets/bootstrap.min.css"/>


<!-- animate -->
<link rel="stylesheet" type="text/css" href="assets/animate.css"/>

<!-- owl-carousel -->
<link rel="stylesheet" type="text/css" href="assets/owl.carousel.css">

<!-- fontawesome -->
<link rel="stylesheet" type="text/css" href="assets/font-awesome.css"/>

<!-- themify -->
<link rel="stylesheet" type="text/css" href="assets/themify.css"/>

<!-- flaticon -->
<link rel="stylesheet" type="text/css" href="assets/flaticon.css"/>
<!--    <link rel="stylesheet" type="text/css" href="slider.css"/>-->


<!-- REVOLUTION LAYERS STYLES -->

    <link rel="stylesheet" type="text/css" href="assets/layers.css">

    <link rel="stylesheet" type="text/css" href="assets/settings.css">

<!-- prettyphoto -->
<link rel="stylesheet" type="text/css" href="assets/prettyPhoto.css">

<!-- twentytwenty -->
<link rel="stylesheet" type="text/css" href="assets/twentytwenty.css"/>

<!-- shortcodes -->
<link rel="stylesheet" type="text/css" href="assets/shortcodes.css"/>

<!-- main -->
<link rel="stylesheet" type="text/css" href="assets/main.css"/>

<!-- responsive -->
<link rel="stylesheet" type="text/css" href="assets/responsive.css"/>


<style>


.rev-slidebg {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  filter:brightness(70%)
}

</style>





</head>

<body>

    <!--page start-->
    <div class="page">

        <!-- preloader start -->
        <div id="preloader">
          <div id="status">&nbsp;</div>
        </div>
        <!-- preloader end -->

        <!--header start-->
        <header id="masthead" class="header ttm-header-style-overlay">
            <!-- ttm-fbar-main-w -->
            <div class="ttm-fbar-main-w ttm-fbar-position-right">
                <div class="ttm-fbar-box-w ttm-textcolor-white ttm-bgcolor-darkgrey ttm-bg ttm-bgimage-yes">
                    <span class="ttm-fbar-btn">
                        <a href="javascript:void(0)" class="ttm-fbar-btn-link">
                            <span class="ttm-fbar-open-icon"><i class="fa fa-bars"></i></span>
                            <span class="ttm-fbar-close-icon"><i class="fa fa-times"></i></span>
                        </a>
                    </span>
                    <div class="ttm-fbar-bg-layer ttm-bg-layer"></div>
                    <!-- ttm-fbar-content-wrapper -->
                    <div class="ttm-fbar-content-wrapper">
                        <div class="ttm-fbar-box">
                            <!-- ttm_widget_team_search-2 -->
                            <aside id="ttm_widget_team_search-2" class="widget-even widget-4 widget ttm_widget_team_search">
                                
                            </aside><!-- ttm_widget_team_search-2 end -->
                            <!-- enhanced-text-widget -->
                            <aside id="enhancedtextwidget-10" class="widget-odd widget-5 widget widget_text enhanced-text-widget">
                                <h3 class="widget-title" style="color:#033b4a ;">Opening Hours:</h3>
                                <div class="textwidget widget-text">These are our normal opening hours.<br>
                                    <div class="ttm-pricelistbox-wrapper ">
                                        <ul class="ttm-pricelist-block">
                                            <li style="color:#033b4a ;">Monday - Friday<span class="service-price" style="color:#033b4a ;">7:00 – 19.00</span></li>
                                            <li style="color:#033b4a ;">Saturday<span class="service-price"><strong style="color: #033b4a ;">7:00 – 19.00</strong></span></li>
                                            <li style="color:#033b4a ;">Sunday<span class="service-price"><strong style="color: #033b4a ;">Closed</strong></span></li>

                                        </ul>
                                    </div>
                                </div>
                            </aside><!-- enhanced-text-widget end -->
                            <!-- enhanced-text-widget -->
                            <aside id="enhancedtextwidget-11" class="widget-even widget-6 widget widget_text enhanced-text-widget">
                                <div class="textwidget widget-text">
                                    <div class="featured-icon-box left-icon icon-align-top">
                                        <div class="featured-icon">
                                            <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-sm ttm-icon_element-style-square">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>+233202400733</h5>
                                            </div>
                                            <div class="featured-desc">
                                                <p>Have a question? call us now</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </aside><!-- enhanced-text-widget end -->
                        </div>
                    </div><!-- ttm-fbar-content-wrapper end -->
                </div>
            </div><!-- ttm-fbar-main-w end -->
            <!-- ttm-header-wrap -->
            <div class="ttm-header-wrap">
                <!-- ttm-stickable-header-w -->
                <div id="ttm-stickable-header-w" class="ttm-stickable-header-w clearfix">
                    <div id="site-header-menu" class="site-header-menu">
                        <div class="site-header-menu-inner ttm-stickable-header">
                            <div class="container">
                                <!-- site-branding -->
                                <div class="site-branding">
                                    <a class="home-link" href="/" title="Britannia" rel="home">
                                        <img id="logo-img" class="img-center" src="/assets/logo.jpg" alt="logo-img">
                                    </a>
                                </div><!-- site-branding end -->
                                <!--site-navigation -->
                                <div id="site-navigation" class="site-navigation">
                                    <!-- ttm-header-text-area -->
                                    <div class="ttm-header-text-area">
                                        <div class="ttm-header-floating-text">
                                            <h4><a href="https://wa.me/+2332022400733?text=Welcome to Britannia Medical Centre ">WhatsApp</a></h4>
                                            <div class="icon"> <i class="fa fa-phone"></i></div>
                                        </div>
                                        <div class="header-info-widget">
                                            <h2>(+233)202400733 </h2>
                                            <h3>info@britanniamedical.org</h3>
                                        </div>
                                    </div>
                                    <!-- ttm-header-text-area end -->
                                    <div class="ttm-menu-toggle">
                                        <input type="checkbox" id="menu-toggle-form" />
                                        <label for="menu-toggle-form" class="ttm-menu-toggle-block">
                                            <span class="toggle-block toggle-blocks-1"></span>
                                            <span class="toggle-block toggle-blocks-2"></span>
                                            <span class="toggle-block toggle-blocks-3"></span>

                                        </label>
                                    </div>
                                    <nav id="menu" class="menu">
                                        <ul class="dropdown">
                                           <li class="active"><a href="/">Home</a>
                                            <li><a href="#about us">About Us</a></li>
                                            <li><a href="#services">Services</a></li>
                                            <li><a href="#appointment">Appointment</a></li>
                                            <li><a href="/staff">Key Staff</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                                            </div>
                    </div>
                </div><!-- ttm-stickable-header-w end-->
            </div><!--ttm-header-wrap end -->
        </header><!--header end-->

        <div id="rev_slider_4_4_wrapper" class="rev_slider_wrapper fullwidthbanner-container slide-overlay" data-alias="classic4export" data-source="gallery">

            <!-- START REVOLUTION SLIDER 5.4.8 auto mode -->
            <div id="rev_slider_4_4" class="rev_slider fullwidthabanner" data-version="5.4.8.2">
                <ul>
                    <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="assets/Britannia.jpg" >
                        <div class="overl" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <img src="assets/Britannia.jpg" alt="" title="Home 2" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        </div>
                        <div class="tp-caption slide-main-text shape-rectangle tp-resizeme" id="slide-1-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-135','-135','-135','-105']"

                            data-fontsize="['12','12','11','10']"
                            data-lineheight="['12','12','11','10']"
                            data-fontweight="['400','400','400','400']"
                            data-letterspacing="['2','2','1','1']"
                            data-color="['rgb(255, 255, 255)','rgb(255, 255, 255)','rgb(255, 255, 255)','rgb(255, 255, 255)']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text"
                            data-responsive_offset="on"
                            data-frames='[{"delay":170,"speed":400,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[16,16,16,15]"
                            data-paddingright="[18,18,18,15]"
                            data-paddingbottom="[16,16,16,15]"
                            data-paddingleft="[18,18,18,15]">Britannia:leaders in healthcare
                        </div>

                        <div class="tp-caption slide-main-text tp-resizeme" id="slide-1-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-85','-85','-85','-61']"

                            data-fontsize="['19','19','18','14']"
                            data-lineheight="['22','22','20','16']"
                            data-color="['rgb(255, 255, 255)','rgb(255, 255, 255)','rgb(255, 255, 255)','rgb(255, 255, 255)']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text"
                            data-responsive_offset="on"
                            data-frames='[{"delay":300,"speed":400,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"> </div>

                        <div class="tp-caption slide-main-text tp-resizeme"  id="slide-1-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-17','-17','-28','-18']"

                            data-fontsize="['70','70','60','40']"
                            data-lineheight="['80','80','70','50']"
                            data-fontweight="['600','600','600','600']"
                            data-color="['rgb(255, 255, 255)','rgb(255, 255, 255)','rgb(255, 255, 255)','rgb(255, 255, 255)']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text"
                            data-responsive_offset="on"
                            data-frames='[{"delay":550,"speed":600,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]">Using modern technology <strong class="ttm-textcolor-skincolor"></strong>
                        </div>

                        <div class="tp-caption slide-main-text tp-resizeme" id="slide-1-layer-4" data-x="['center','center','center','center']" data-hoffset="['5','5','5','5']" data-y="['middle','middle','middle','middle']" data-voffset="['51','51','28','27']"

                            data-fontsize="['70','70','60','40']"
                            data-lineheight="['80','80','70','50']"
                            data-fontweight="['600','600','600','600']"
                            data-color="['rgb(255, 255, 255)','rgb(255, 255, 255)','rgb(255, 255, 255)','rgb(255, 255, 255)']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text"
                            data-responsive_offset="on"
                            data-frames='[{"delay":660,"speed":600,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]">to provide personalized care
                        </div>

                        <a class="tp-caption white-flatborder-button tp-resizeme" href="#appointment" target="_self" id="slide-1-layer-5" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['151','151','119','96']"

                            data-fontsize="['13','13','11','10']"
                            data-lineheight="['13','13','11','10']"
                            data-fontweight="600"
                            data-letterspacing="['1','1','0','0']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text"
                            data-actions=''
                            data-responsive_offset="on"
                            data-frames='[{"delay":840,"speed":400,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[19,19,19,15]"
                            data-paddingright="[30,30,30,25]"
                            data-paddingbottom="[19,19,19,15]"
                            data-paddingleft="[30,30,30,25]">MAKE AN APPOINTMENT!
                        </a>

                    </li>
                    
                    <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="assets/Britannia2.jpeg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <div class="overl" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

                        <img src="assets/Britannia2.jpeg" alt="" title="Home 2" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        </div>
                        <div class="tp-caption slide-main-text shape-rectangle tp-resizeme" id="slide-2-layer-2" data-x="['left','left','left','center']" data-hoffset="['50','40','30','0']" data-y="['top','top','top','middle']" data-voffset="['308','161','56','-100']"

                            data-fontsize="['12','12','11','10']"
                            data-lineheight="['12','12','11','10']"
                            data-letterspacing="['2','2','2','1']"
                            data-fontweight="['400','400','400','400']"
                            data-color="['rgb(255, 255, 255)','rgb(255, 255, 255)','rgb(255, 255, 255)','rgb(255, 255, 255)']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text"
                            data-responsive_offset="on"
                            data-frames='[{"delay":330,"speed":500,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[17,17,14,10]"
                            data-paddingright="[19,19,15,12]"
                            data-paddingbottom="[17,17,14,10]"
                            data-paddingleft="[19,19,15,12]">A national hospital with international experts
                        </div>

                        <div class="tp-caption slide-main-text tp-resizeme" id="slide-2-layer-3" data-x="['left','left','left','center']" data-hoffset="['50','40','30','0']" data-y="['top','top','top','middle']" data-voffset="['363','211','110','-50']"

                            data-fontsize="['70','70','60','40']"
                            data-lineheight="['80','80','55','40']"
                            data-fontweight="['600','600','600','600']"
                            data-color="['rgb(255, 255, 255)','rgb(255, 255, 255)','rgb(255, 255, 255)','rgb(255, 255, 255)']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text"
                            data-responsive_offset="on"
                            data-frames='[{"delay":300,"speed":800,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]">Delivering Healthcare
                        </div>

                        <div class="tp-caption slide-main-text tp-resizeme" id="slide-2-layer-4" data-x="['left','left','left','center']" data-hoffset="['50','40','30','0']" data-y="['top','top','top','middle']" data-voffset="['434','276','166','-9']"

                            data-fontsize="['70','70','60','40']"
                            data-lineheight="['80','80','60','40']"
                            data-fontweight="['600','600','600','600']"
                            data-color="['rgb(255, 255, 255)','rgb(255, 255, 255)','rgb(255, 255, 255)','rgb(255, 255, 255)']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text"
                            data-responsive_offset="on"
                            data-frames='[{"delay":900,"speed":800,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"> based on UK standards<strong class="ttm-textcolor-skincolor"> </strong>
                        </div>

                        <div class="tp-caption slide-main-text tp-resizeme" id="slide-2-layer-5" data-x="['left','left','left','center']" data-hoffset="['50','40','30','0']" data-y="['top','top','top','middle']" data-voffset="['523','366','235','27']"

                            data-fontsize="['17','17','15','12']"
                            data-lineheight="['20','20','26','20']"
                            data-color="['rgb(247,247,247)','rgb(247,247,247)','rgb(237,237,237)','rgb(237,237,237)']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text"
                            data-responsive_offset="on"
                            data-frames='[{"delay":1090,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','center']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                           data-paddingleft="[0,0,0,0]">
                        </div>




                        <a class="tp-caption white-flatborder-button tp-resizeme" href="#" target="_self" id="slide-2-layer-6" data-x="['left','left','left','center']" data-hoffset="['50','40','30','0']" data-y="['top','top','top','middle']" data-voffset="['582','426','293','87']"

                            data-fontsize="['13','13','13','12']"
                            data-lineheight="['16','16','14','12']"
                            data-fontweight="['600','600','600','600']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="text"
                            data-actions=''
                            data-responsive_offset="on"
                            data-frames='[{"delay":1480,"speed":500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power0.easeIn"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']"
                            data-paddingtop="[17,17,17,15]"
                            data-paddingright="[30,30,23,20]"
                            data-paddingbottom="[17,17,17,15]"
                            data-paddingleft="[30,30,23,20]">MAKE AN APPOINTMENT!
                        </a>

                                            </li>
                </ul>
            </div>
        </div>
       <!-- END REVOLUTION SLIDER -->

    <!--site-main start-->
    <div class="site-main">

        <!--row-top-section-->
        <section class="ttm-row row-top-section clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mt_60 res-991-mt-50">
                            <div class="row row-equal-height ttm-bgcolor-white ttm-box-seperator box-shadow">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <!-- featured-icon-box -->
                                    <div class="featured-icon-box top-icon featured-icon-hover text-center">
                                        <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                            <i class="themifyicon ti-bookmark-alt"></i>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Quality & Safety</h5>
                                            </div>
                                            <div class="featured-desc">
                                                <p>Britannia ensures the provision of Western standards of healthcare which fully integrates the international patient safety goals.</p>
                                                <!-- <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline mb-15" href="#">VIEW MORE</a> -->
                                            </div>
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 box-shadow">
                                    <!-- featured-icon-box -->
                                    <div class="featured-icon-box top-icon featured-icon-hover text-center">
                                        <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                            <i class="themifyicon ti-blackboard"></i>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Leading Technology</h5>
                                            </div>
                                            <div class="featured-desc">
                                                <p>Britannia use state-of-the-art equipments and communication technology to deliver comfort,convenience and hassle free healthcare service.</p>
                                                <!-- <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline mb-15" href="#">VIEW MORE</a> -->
                                            </div>
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <!-- featured-icon-box -->
                                    <div class="featured-icon-box top-icon featured-icon-hover text-center">
                                        <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                            <i class="themifyicon ti-user"></i>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>World Class Experts</h5>
                                            </div>
                                            <div class="featured-desc">
                                                <p>Britannia clinical leaders are the best in field clinical consultants whose  sole purpose is to deliver top class care to our cherished clientele.</p>
                                                <!-- <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline mb-15" href="#">VIEW MORE</a> -->
                                            </div>
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- row end -->
            </div>
        </section>
        <section id="about us" class="ttm-row intro-section clearfix">

        <section  class="ttm-row intro-section clearfix">
                <div class="container">
                    <div class="row">
                       <div class="col-lg-6 col-sm-12">
                            <div class="pt-50 pl-20 res-991-pl-0">
                                <!-- section title -->
                                <div class="section-title clearfix">
                                    <div class="title-header">
                                        <h3>ABOUT BRITANNIA MEDICAL CENTRE</h3>
                                        <p class="title">Britannia Medical Centre (BMC) is a modern state of the art paper-thin hospital set 
                                        in the outskirts of Tema district of Accra. The hospital which became operational in 2020 was born out of the 
                                        desire to bring to Ghana the highest quality healthcare that meets the needs of the people.
                                        </p>
                                    </div>
                                </div><!-- section title end -->
                                <div class="mb-25 clearfix">
                                    <p>Central to BMC is the patient/client whose welfare we take pride in. 
                                    Our staff are the greatest asset, and we believe in nurturing, developing, 
                                    supporting and maintaining talent that buys into our philosophy.</p>
                                </div>
                                <div class="mb-25 clearfix">
                                    <p>Care delivery at BMC is based on a culture of openness, 
                                    trust, kindness and learning. We recognise that without trust,
                                     our ambition would be short-lived. Our aim is therefore to earn the trust of 
                                     our patients/clients and invite input from them so as to make our services fit for 
                                    the Ghanaian middle class as well as the wider community.</p>
                                </div>
                                <div class="mb-25 clearfix">
                                    <p>BMC is a purpose built hospital with a reception,
                                     a waiting area, modern consulting rooms,
                                      imaging unit with a modern ultrasound machine and X-ray machine, 
                                      an operating theatre, wards (open 4 bedded and private en-suite rooms) as well as beautiful surroundings that provide the ideal ambiance
                                     for recovery or for the visiting relatives.</p>
                                </div>
                                <div class="mb-25 clearfix">
                                    <p>Our hospital is run on an electronic medical records system <a href="https://yarysa.devdexsoftware.com"target="_blank">Yarysa EMR </a>
                                    that interlinks various departments allowing for 
                                    seamless sharing of information and prompt availability of 
                                    information that drives patient/client care.</p>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="ttm-list ttm-list-style-icon ttm-list-icon-color-skincolor ttm-textcolor-darkgrey">
                                            <li><i class="fa fa-arrow-circle-right"></i><span class="ttm-list-li-content">Fertility and IVF</span></li>
                                            <li><i class="fa fa-arrow-circle-right"></i><span class="ttm-list-li-content">Gyneacology & Paediatric</span></li>

                                            <li><i class="fa fa-arrow-circle-right"></i><span class="ttm-list-li-content">Family Medicine</span></li>
                                            <li><i class="fa fa-arrow-circle-right"></i><span class="ttm-list-li-content">Minimal access Surgery</span></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="ttm-list ttm-list-style-icon ttm-list-icon-color-skincolor ttm-textcolor-darkgrey">
                                            <li><i class="fa fa-arrow-circle-right"></i><span class="ttm-list-li-content">Radiology </span></li>
                                            <li><i class="fa fa-arrow-circle-right"></i><span class="ttm-list-li-content">Clincal Psychology</span></li>
                                            <li><i class="fa fa-arrow-circle-right"></i><span class="ttm-list-li-content">Pharmacy/Laboratory</span></li>
                                            <li><i class="fa fa-arrow-circle-right"></i><span class="ttm-list-li-content">Mobile Health</span></li>
                                        </ul>
                                    </div>
                                    
                                    <div class="col-lg-12">
                                        <div class="mt-20">
                                            <p>Our Medical Centre has  world class facilities for the treatment of Our Clients.</p>
                                            <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-skincolor mt-20" href="#"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-sm-12">
                            <!-- ttm_single_image-wrapper -->
                            <div class="ttm_single_image-wrapper text-right">
                                <img class="img-fluid" src="assets/Britannia11.jpg" alt="">
                            </div><!-- ttm_single_image-wrapper end --><br><br>
                            
                            <!-- ttm_single_image-wrapper -->
                            <div class="ttm_single_image-wrapper text-right">
                                <img class="img-fluid" src="assets/Britannia10.jpeg" alt="">
                            </div><!-- ttm_single_image-wrapper end -->
                        </div>

                        
                        
                     
                    </div><!-- row end -->
                </div>
            </section>
            
            <section class="ttm-row intro-section clearfix">
            <div class="container">
                <div class="row">
                <div class="col-lg-6 col-sm-12">
                        <!-- ttm_single_image-wrapper -->
                        <div class="ttm_single_image-wrapper text-right">
                            <img class="img-fluid2" src="assets/Britannia3.jpg" alt="">
                        </div><!-- ttm_single_image-wrapper end --><br><br>
                        
                        <!-- ttm_single_image-wrapper -->
                        
                    </div>

                   <div class="col-lg-6 col-sm-12">
                        <div class=" pl-20 res-991-pl-0">
                            <!-- section title -->
                            <div class="section-title clearfix">
                                <div class="title-header">
                                <h3>Mission , Vision , Values</h3>
                                    <p class="title"><strong style=" color:#033b4a ;">Mission:</strong> We aim to be the most respected private teaching Hospital, 
                                    of international repute, a leader and pacesetting institution in healthcare delivery in Ghana and beyond.
                                    </p>
                                </div>
                            </div><!-- section title end -->
                            <div class="mb-25 clearfix">
                                <p><strong style=" color:#033b4a ;">Vision:</strong>  By 2030, we plan to be one of the leading health institution in Ghana: 
                            in terms of quality and training.</p>
                            </div>
                            
                            
                            

                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="ttm-list ttm-list-style-icon ttm-list-icon-color-skincolor ttm-textcolor-darkgrey"><p style=" color:#033b4a ;" > Values</p>
                                        <li><i class="fa fa-arrow-circle-right"></i><span class="ttm-list-li-content">QUALITY DRIVEN</span></li>
                                        <li><i class="fa fa-arrow-circle-right"></i><span class="ttm-list-li-content">CLIENT FOCUSED</span></li>

                                        <li><i class="fa fa-arrow-circle-right"></i><span class="ttm-list-li-content">CONTINUOUS IMPROVEMENT</span></li>
                                        <li><i class="fa fa-arrow-circle-right"></i><span class="ttm-list-li-content">THINKING INNOVATIVELY</span></li>
                                    </ul>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    
                 
                </div><!-- row end -->
            </div>
        </section>
        </section>

       
        <!-- row-top-section end -->

        <section id="services" class="ttm-row service-section ttm-bgcolor-grey clearfix">
                    <div class="container">
                        <div class="row">
                           <div class="col-lg-6 col-sm-12">
                                <div class="pt-50 pl-20 res-991-pl-0">
                                    <!-- section title -->
                                    <div class="section-title clearfix">
                                        <div class="title-header">
                                            <h3>Our Services</h3>
                                            <p class="title" ><p style="font-size:20px ;color:#033b4a ;">FAMILY MEDICINE</p> We provide outpatient consultations and investigations where appropriate.
                                            This service serves as the primary stop for most patients but also as a secondary portal for those with complications that
                                            require specialised care. Most complaints are managed on outpatient basis with support from a fully automated laboratory,
                                              a modern ultrasound machine as well as an X-ray machines. 
                                             Our Family Medicine clinics run every day.</p>
                                        </div>
                                    </div><!-- section title end --><br>
                                    <div class="mb-25 clearfix">
                                    <p class="title"><p style="font-size:20px; color:#033b4a ;">GYNAECOLOGY</p> This service which is delivered in tandem with obstetrics consists of
                                     Outpatient consultations, investigations and treatment of common both 
                                     outpatient and inpatients. Some of the conditions we manage include fibroids, 
                                     period problems (painful, heavy, irregular or absent), 
                                     lower abdominal (tummy) pain, painful sexual intercourse, 
                                     vaginal discharge, contraception, menopause and
                                      related problems, ovarian cysts, premenstrual syndrome, urinary
                                    incontinence, prolapse etc.</p>
                                    </div>
                                  
    
                                    <div class="row">
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-6 col-sm-12">
                                <!-- ttm_single_image-wrapper -->
                                <div class="ttm_single_image-wrapper text-right">
                                    <img class="img-fluid3" src="assets/Britannia5.jpg" alt="">
                                </div><!-- ttm_single_image-wrapper end --><br>
                                
                                <!-- ttm_single_image-wrapper -->
                                <div class="ttm_single_image-wrapper text-right">
                                    <img class="img-fluid3" src="assets/Britannia6.jpeg" alt="">
                                </div><!-- ttm_single_image-wrapper end -->
                            </div>
    
                            
                            
                         
                        </div><!-- row end -->
                    </div>
                </section>

                <section id="services" class="ttm-row service-section ttm-bgcolor-grey clearfix">
                            <div class="container">
                                <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                        <!-- ttm_single_image-wrapper -->
                                        <div class="ttm_single_image-wrapper text-right">
                                            <img class="img-fluid2" src="assets/Britannia7.jpg" alt="" >
                                        </div><!-- ttm_single_image-wrapper end --><br><br>
                                        
                                        <!-- ttm_single_image-wrapper -->
                                        
                                    </div>

                                   <div class="col-lg-6 col-sm-12">
                                        <div class="pt-50 pl-20 res-991-pl-0">
                                            <!-- section title -->
                                            <div class="section-title clearfix">
                                                <div class="title-header">
                                                    <p class="title"><p style="font-size:20px; color:#033b4a ;">OBSTETRICS</p> We believe very strongly that no woman should die in pregnancy and childbirth and this can only
                                                     be achieved through comprehensive screening at the first antenatal visit 
                                                     followed by regular surveillance and monitoring of both the baby and the mother.
                                                      Our dedicated team includes an Obstetrician who has worked in the UK at the highest 
                                                      level and a team of midwives who have been trained to be customer centered. 
                                                      We run antenatal clinics twice a week and each of 
                                                    these is supported by our ultramodern ultrasound scan service.
                                                    Each of our women is offered a tertiary level ultrasound examination of the baby 
                                                    at 18-22 weeks during which we endeavour to exclude most major abnormalities. 
                                                    We also use ultrasound scan to monitor the growth of the babies where appropriate.
                                                    Where the pregnancy is complicated or there are reasons for closer monitoring we offer inpatient care with appropriate monitoring of both the mother and baby.
                                                    </p>
                                                </div>
                                            </div><!-- section title end --><br>
                                            <div class="mb-25 clearfix">
                                            <p class="title"><p style="font-size:20px; color:#033b4a ;">REPRODUCTIVE MEDICINE INCLUDING IVF</p> 
                                            Under this service are:<br>
                                          A.  Couples with repeated pregnancy loss (recurrent miscarriages)<br>
                                           B. Infertility – trying for a pregnancy after a period of time<br>
                                        C. Endocrine disorders such as polycystic ovary syndrome, excessive hair on the body</p>
                                            </div>
                                            <div class="mb-25 clearfix">
                                            <p class="title"><p style="font-size:20px;color:#033b4a ;">EMERGENCY CARE</p> 
                                            This is opened 24 hours and caters for most minor complaints and some categories of major illnesses. 
                                            We do not have facilities for major trauma but are able to manage minor trauma.</p>
                                            </div>
                                                <br><br><br>
                                            <div class="row">  
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
            
                                    
                                    
                                 
                                </div><!-- row end -->
                            </div>
                        </section>
                        <section id="services" class="ttm-row service-section ttm-bgcolor-grey clearfix" style="margin-top:-205px;">
                        <div class="container">
                            <div class="row">
                               <div class="col-lg-6 col-sm-12">
                                    <div class=" pl-20 res-991-pl-0">
                                        <!-- section title -->
                                        <div class="section-title clearfix">
                                            <div class="title-header">
                                                
                                                <p class="title"><p style="font-size:20px;color:#033b4a ;">PAEDIATRICS</p> We provide general and specialised 
                                                paediatric clinics where children with various symptoms/illnesses are seen assessed investigated and treated.
                                                 There is an inpatient service to care for
                                                 those requiring admissions and inpatient treatment</p>
                                            </div>
                                        </div><!-- section title end -->
                                        <div class="mb-25 clearfix">
                                        <p class="title"><p style="font-size:20px ; color:#033b4a ;">SURGERY</p> Surgical services are provided by various specialist that visit the 
                                        hospital to run clinics and operate of bring their patients to use BMC facilities. 
                                        These include general surgery, urology and orthopaedics</p>
                                        </div>
                                        <div class="mb-25 clearfix">
                                        <p class="title"><p style="font-size:20px ; color:#033b4a ;">DENTISTRY</p> A dental unit caters for those with problems
                                         and the facilities include a dental chair and imaging.
                                        </p>
                                        </div>
                                        <div class="mb-25 clearfix">
                                        <p class="title"><p style="font-size:20px ; color:#033b4a ;">LABORATORY</p> The BMC is supported by an on-site automated laboratory that is able to 
                                        perform various investigations including haematological (blood), 
                                        biochemistry (kidney and liver functions and hormones)
                                        </p>
                                        </div>
                                      
        
                                        <div class="row">
                                            
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-6 col-sm-12">
                                    <!-- ttm_single_image-wrapper -->
                                    <div class="ttm_single_image-wrapper text-right">
                                        <img class="img-fluid3" src="assets/Britannia9.jpg" alt="">
                                    </div><!-- ttm_single_image-wrapper end --><br><br>
                                    
                                    <!-- ttm_single_image-wrapper -->
                                    <div class="ttm_single_image-wrapper text-right">
                                        <img class="img-fluid3" src="assets/Britannia6.jpeg" alt="">
                                    </div><!-- ttm_single_image-wrapper end -->
                                </div>
        
                                
                                
                             
                            </div><!-- row end -->
                        </div>
                        
                    </section>
                    <section id="services" class="ttm-row service-section ttm-bgcolor-grey clearfix">
                            <div class="container">
                                <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                        <!-- ttm_single_image-wrapper -->
                                        <div class="ttm_single_image-wrapper text-right">
                                            <img class="img-fluid2" src="assets/Britannia14.jpg" alt="" >
                                        </div><!-- ttm_single_image-wrapper end --><br><br>
                                        <div class="ttm_single_image-wrapper text-right">
                                            <img class="img-fluid2" src="assets/Britannia13.jpg" alt="" >
                                        </div>
                                        <!-- ttm_single_image-wrapper -->
                                        
                                    </div>

                                   <div class="col-lg-6 col-sm-12">
                                        <div class="pt-50 pl-20 res-991-pl-0">
                                            <!-- section title -->
                                            <div class="section-title clearfix">
                                                <div class="title-header">
                                                    <p class="title"><p style="font-size:20px; color:#033b4a ;">PHARMACY</p> Our pharmacy provides a comprehensive range of medications for both inpatient and outpatients.
                                                     Where the specific drug is unavailable, we are able to provide it at short notice. 
                                                     Patients who are not from BMC can also use this facility by simply brining a 
                                                    prescription from a recognised provider.
                                                    </p>
                                                </div>
                                            </div><!-- section title end --><br>
                                            <div class="mb-25 clearfix">
                                            <p class="title"><p style="font-size:20px; color:#033b4a ;">RADIOLOGY</p> 
                                            We have a modern ultrasound scan machine which provides the best quality 
                                            images and allows for a thorough investigation of various pathologies including monitoring of 
                                            pregnancies, imaging of babies, and investigations 
                                            for other complications such as suspected kidney or bladder stones etc.</p>
                                            </div><br>
                                            <div class="mb-25 clearfix">
                                            <p class="title"><p style="font-size:20px;color:#033b4a ;">EDUCATION AND RESEARCH</p> 
                                            We take great pride in labelling ourselves as a learning organisation
                                             bent on creating a facilitative environment for our staff to learn and more importantly to work towards 
                                             developing healthcare workers nationally and within the sub-region. We have an Education Unit led by an expert 
                                             who will commission various educational programmes.
                                              Most of these programmes will allow attendees to earn continuing professional development (CPD) credits which are 
                                            now mandatory for healthcare providers in Ghana.</p>
                                            <p>BMC will be providing training that will complement 
                                            or enhance skills such as basic and advanced ultrasound scan, 
                                            critical care, clinical governance, and every other aspect of healthcare. 
                                            Ultimately BMC will be an institution for 
                                            training healthcare workers teaming up with an academic institution of
                                             higher learning or being part of one.</p>
                                            </div>
                                                <br><br><br>
                                            <div class="row">  
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
            
                                    
                                    
                                 
                                </div><!-- row end -->
                            </div>
                        </section>
                    
<style type="text/css">
    #push_up{
        margin-top: -10%;
       
    }
</style>

                 <!-- FOR INSURANCE -->
              <section id="services" class="ttm-row service-section ttm-bgcolor-grey clearfix">
                <div class="container" id="push_up">
                    <!-- row -->
                    <div class="row">
                        <div class="col-lg-9 col-md-12">
                            <!-- section-title -->
                            <div class="section-title with-desc clearfix">
                                <div class="title-header">
                                    <h5>INSURANCE</h5>
                                    <h2 class="title">Our Insurance Partners</h2>
                                </div>
                                <div class="title-desc"> We have partnered with some of the leading and best insurance companies to serve our clients well</div>
                            </div><!-- section-title end -->
                        </div>
                        <div class="col-lg-3 col-md-12">
                            
                        </div>
                    </div><!-- row end -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row row-equal-height ttm-bgcolor-white ttm-box-seperator ttm-row-seperator box-shadow mt-20">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <!-- featured-icon-box -->
                                    <div class="featured-icon-box top-icon featured-icon-hover">
                                        <img src="/assets/equity.jpeg"  >
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Equity Health Insurance</h5>
                                            </div>
                                           
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-8 col-xs-12">
                                    <!-- featured-icon-box -->
                                    <div class="featured-icon-box top-icon featured-icon-hover">
                                         <img src="/assets/glico.jpeg" style="max-width: 100%;">
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Glico Insurance</h5>
                                            </div>
                                            
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </div>
                       
                                <!-- featured-icon-box -->
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="featured-icon-box top-icon featured-icon-hover">
                                    <img src="/assets/premier_logooo.png" width="350px" >
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Premier Health Insurance</h5>
                                        </div>
                                       
                                    </div>
                                </div><!-- featured-icon-box end-->
                                
                            </div>
                                
                           
                               
                            </div>
                        </div>
                    </div>
                </div>
            </section>
       
            <section id ="appointment">

        <section class="ttm-row multi-section break-991-colum bg-img3 clearfix">
        <section  class="ttm-row multi-section break-991-colum bg-img3 clearfix">
                <div class="container">
                    <div class="row mt_190 res-1199-mlr-15 res-991-mt-50 box-shadow2 no-gutters">
                        <div class="col-md-5">
                            <!-- col-bg-img-three -->
                            <div class="col-bg-img-three ttm-bg ttm-col-bgimage-yes">
                                <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                                <div class="layer-content">
                                </div>
                            </div><!-- col-bg-img-three end -->
                            <img src="assets/appoint.jpg" class="ttm-equal-height-image" alt="bg-image">
                        </div>
                        <div class="col-md-7">
                            <div class="spacing-4 ttm-bgcolor-white">
                                <!-- section title -->
                                <div class="section-title style2 text-center clearfix">
                                    <div class="title-header">
                                        <h2 class="title">Make an Appointment</h2>
                                    </div>
                                    <div class="title-desc">Book an appointment with a Physician anytime at your own convenience! Visit us at a scheduled time.</div>
                                </div><!-- section title end -->
                                <%= simple_form_for(@appointment) do |f| %>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label>
                                                <span class="text-input">
                                                    <i class="ttm-textcolor-skincolor ti-user"> Fullname</i>
                                                      <%= f.text_field :fullname %>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label>
                                                <span class="text-input">
                                                    <i class="ttm-textcolor-skincolor ti-email"> Email</i>
                                                  <%= f.text_field :email  %>

                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label>
                                                <span class="text-input">
                                                    <i class="ttm-textcolor-skincolor ti-mobile">Phone Number</i>
                                                    <%= f.phone_field :phone_number %>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label>
                                                <span class="text-input">
                                                    <i class="ttm-textcolor-skincolor ti-heart-broken"> Select Department</i>
                                                  <%= f.select :select_department,['','Gyneacology',' Paediatric' ,'IVF' ,'laboratory'] %>

                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label>
                                                <span  class="text-input">
                                                    <i class="ttm-textcolor-skincolor ti-calendar"> Appointment Date</i>
                                                        <%= f.date_field :appointment_date, as: :string,input_html: { id:"datetimepicker", class: "form-control"} %>
                                                </span>
                                            </label>
                                        </div>


                                        <div class="col-lg-6">
                                            <label>
                                                <span class="text-input">
                                                    <i class="ttm-textcolor-skincolor ti-timer"> Appointment Time</i>
                                                    <%= f.time_field :appointment_time, as: :string,input_html: { id:"datetimepicker", class: "form-control"} %>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <%= f.button :submit,class: 'btn btn-primary btn-lg', data: {"disable-with": "Booking......"} %>
                              <% end %>
                            </div>
                        </div>
                    </div><!-- row end -->
            </div>

        </section>
        </section>
        </section>





  <div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3969.9624403591033!2d-0.026675585168710252!3d5.718549895855375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf803c734533c7%3A0xef3042daf3315458!2sBritannia%20Medical%20Center!5e0!3m2!1sen!2sgh!4v1582205116575!5m2!1sen!2sgh" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

    </div>




<section id="contact us">
    <footer class="footer widget-footer clearfix">
        <div class="first-footer ttm-bgcolor-skincolor">
            <div class="container">
                <div class="row">
                    <div class="widget-area col-xs-12 col-sm-12 col-md-6 col-lg-4">
                        <aside class="widget widget-text">
                            <!--featured-icon-box-->
                            <div class="featured-icon-box iconalign-before-heading">
                                <div class="featured-icon">
                                    <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-sm ttm-icon_element-style-square">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                </div>
                                <div class="featured-title">
                                    <h5>+233202400733</h5>
                                    <h4>Have a question? call us now</h4>
                                </div>
                            </div><!-- featured-icon-box end-->
                        </aside>
                    </div>
                    <div class="widget-area col-xs-12 col-sm-12 col-md-6 col-lg-4">
                        <aside class="widget widget-text">
                            <!--featured-icon-box-->
                            <div class="featured-icon-box iconalign-before-heading">
                                <div class="featured-icon">
                                    <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-sm ttm-icon_element-style-square">
                                        <i class="fa fa-envelope-o"></i>
                                    </div>
                                </div>
                                <div class="featured-title">
                                    <h5>info@britanniamedical.org</h5>
                                    <h4>Need support? Drop us an email</h4>
                                </div>
                            </div><!-- featured-icon-box end-->
                        </aside>
                    </div>
                    <div class="widget-area col-xs-12 col-sm-12 col-md-6 col-lg-4">
                        <aside class="widget widget-text">
                            <!--featured-icon-box-->
                            <div class="featured-icon-box iconalign-before-heading">
                                <div class="featured-icon">
                                    <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-sm ttm-icon_element-style-square">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                </div>
                                <div class="featured-title">
                                    <h5>Mon – Fri 07:00 – 20:00</h5>
                                    <h4>Opened</h4>
                                </div>
                            </div><!-- featured-icon-box end-->
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </section>


        <div class="bottom-footer-text ttm-textcolor-white">
            <div class="container">
                <div class="row copyright">
                    <div class="col-md-12">
                        <span>Copyright © 2022 Britannia Medical Centre.<br> All rights reserved</span>
                    </div>

                </div>
            </div>

        </div>



    <!-- Javascript -->


    <script src="assets/jquery.min.js"></script>

    <script src="assets/bootstrap.min.js"></script>
    <script src="assets/jquery.easing.js"></script>
    <script src="assets/jquery-waypoints.js"></script>
    <script src="assets/jquery-validate.js"></script>
    <script src="assets/owl.carousel.js"></script>
    <script src="assets/jquery.prettyPhoto.js"></script>
    <script src="assets/numinate.min.js"></script>
    <script src="assets/jquery.event.move.js"></script>
    <script src="assets/jquery.twentytwenty.js"></script>

    <script src="assets/main.js"></script>

    <!-- Revolution Slider -->
    <script src="assets/jquery.themepunch.tools.min.js"></script>
    <script src="assets/jquery.themepunch.revolution.min.js"></script>
    <script src="assets/slider.js"></script>

    </script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->

    <script src="assets/revolution.extension.actions.min.js"></script>
    <script src="assets/revolution.extension.carousel.min.js"></script>
    <script src="assets/revolution.extension.kenburn.min.js"></script>
    <script src="assets/revolution.extension.layeranimation.min.js"></script>
    <script src="assets/revolution.extension.migration.min.js"></script>
    <script src="assets/revolution.extension.navigation.min.js"></script>
    <script src="assets/revolution.extension.parallax.min.js"></script>
    <script src="assets/revolution.extension.slideanims.min.js"></script>


    



    <!-- Javascript end-->
    </body>
</html>
