<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Britannia Medical &raquo; Centre" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>Britannia Medical Centre</title>

<!-- favicon icon -->
<link rel="shortcut icon" href="assets/bg5.jpg" />

<!-- bootstrap -->
<link rel="stylesheet" type="text/css" href="assets/bootstrap.min.css"/>


<!-- animate -->
<link rel="stylesheet" type="text/css" href="assets/animate.css"/>

<!-- owl-carousel -->
<link rel="stylesheet" type="text/css" href="assets/owl.carousel.css">

<!-- fontawesome -->
<link rel="stylesheet" type="text/css" href="assets/font-awesome.css"/>

<!-- themify -->
<link rel="stylesheet" type="text/css" href="assets/themify.css"/>

<!-- flaticon -->
<link rel="stylesheet" type="text/css" href="assets/flaticon.css"/>
<!--    <link rel="stylesheet" type="text/css" href="slider.css"/>-->


<!-- REVOLUTION LAYERS STYLES -->

    <link rel="stylesheet" type="text/css" href="assets/layers.css">

    <link rel="stylesheet" type="text/css" href="assets/settings.css">

<!-- prettyphoto -->
<link rel="stylesheet" type="text/css" href="assets/prettyPhoto.css">

<!-- twentytwenty -->
<link rel="stylesheet" type="text/css" href="assets/twentytwenty.css"/>

<!-- shortcodes -->
<link rel="stylesheet" type="text/css" href="assets/shortcodes.css"/>

<!-- main -->
<link rel="stylesheet" type="text/css" href="assets/main.css"/>

<!-- responsive -->
<link rel="stylesheet" type="text/css" href="assets/responsive.css"/>





<style>
.img-fluid7 {
    width: 50vh;
    height: 57vh;
   
}
</style>


</head>

<body>

    <!--page start-->
    <div class="page">

        <!-- preloader start -->
        <div id="preloader">
          <div id="status">&nbsp;</div>
        </div>
        <!-- preloader end -->

        <!--header start-->
        <header id="masthead" class="header ttm-header-style-overlay ">
            <!-- ttm-fbar-main-w -->
            <div class="ttm-fbar-main-w ttm-fbar-position-right">
                <div class="ttm-fbar-box-w ttm-textcolor-white ttm-bgcolor-darkgrey ttm-bg ttm-bgimage-yes">
                    <span class="ttm-fbar-btn">
                        <a href="javascript:void(0)" class="ttm-fbar-btn-link">
                            <span class="ttm-fbar-open-icon"><i class="fa fa-bars"></i></span>
                            <span class="ttm-fbar-close-icon"><i class="fa fa-times"></i></span>
                        </a>
                    </span>
                    <div class="ttm-fbar-bg-layer ttm-bg-layer"></div>
                    <!-- ttm-fbar-content-wrapper -->
                    <div class="ttm-fbar-content-wrapper">
                        <div class="ttm-fbar-box">
                            <!-- ttm_widget_team_search-2 -->
                            <aside id="ttm_widget_team_search-2" class="widget-even widget-4 widget ttm_widget_team_search">
                                
                            </aside><!-- ttm_widget_team_search-2 end -->
                            <!-- enhanced-text-widget -->
                            <aside id="enhancedtextwidget-10" class="widget-odd widget-5 widget widget_text enhanced-text-widget">
                                <h3 class="widget-title" style="color:blue;">Opening Hours:</h3>
                                <div class="textwidget widget-text">These are our normal opening hours.<br>
                                    <div class="ttm-pricelistbox-wrapper ">
                                        <ul class="ttm-pricelist-block">
                                            <li style="color:blue;">Monday - Friday<span class="service-price" style="color:blue;">7:00 – 19.00</span></li>
                                            <li style="color:blue;">Saturday<span class="service-price"><strong style="color: blue;">7:00 – 19.00</strong></span></li>
                                            <li style="color:blue;">Sunday<span class="service-price"><strong style="color: blue;">Closed</strong></span></li>

                                        </ul>
                                    </div>
                                </div>
                            </aside><!-- enhanced-text-widget end -->
                            <!-- enhanced-text-widget -->
                            <aside id="enhancedtextwidget-11" class="widget-even widget-6 widget widget_text enhanced-text-widget">
                                <div class="textwidget widget-text">
                                    <div class="featured-icon-box left-icon icon-align-top">
                                        <div class="featured-icon">
                                            <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-sm ttm-icon_element-style-square">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>+233202400733</h5>
                                            </div>
                                            <div class="featured-desc">
                                                <p>Have a question? call us now</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </aside><!-- enhanced-text-widget end -->
                        </div>
                    </div><!-- ttm-fbar-content-wrapper end -->
                </div>
            </div><!-- ttm-fbar-main-w end -->
            <!-- ttm-header-wrap -->
            <div class="ttm-header-wrap">
                <!-- ttm-stickable-header-w -->
                <div id="ttm-stickable-header-w" class="ttm-stickable-header-w clearfix">
                    <div id="site-header-menu" class="site-header-menu">
                        <div class="site-header-menu-inner ttm-stickable-header">
                            <div class="container">
                                <!-- site-branding -->
                                <div class="site-branding">
                                    <a class="home-link" href="/" title="Britannia" rel="home">
                                        <img id="logo-img" class="img-center" src="/assets/logo.jpg" alt="logo-img">
                                    </a>
                                </div><!-- site-branding end -->
                                <!--site-navigation -->
                                <div id="site-navigation" class="site-navigation">
                                    <!-- ttm-header-text-area -->
                                    <div class="ttm-header-text-area">
                                        <div class="ttm-header-floating-text">
                                            <h4><a href="https://wa.me/+2332022400733?text=Welcome to Britannia Medical Centre ">WhatsApp</a></h4>
                                            <div class="icon"> <i class="fa fa-phone"></i></div>
                                        </div>
                                        <div class="header-info-widget">
                                            <h2>(+233)202400733 </h2>
                                            <h3>info@britanniamedicalcenter.org</h3>
                                        </div>
                                    </div>
                                    <!-- ttm-header-text-area end -->
                                    <div class="ttm-menu-toggle">
                                        <input type="checkbox" id="menu-toggle-form" />
                                        <label for="menu-toggle-form" class="ttm-menu-toggle-block">
                                            <span class="toggle-block toggle-blocks-1"></span>
                                            <span class="toggle-block toggle-blocks-2"></span>
                                            <span class="toggle-block toggle-blocks-3"></span>

                                        </label>
                                    </div>
                                    <nav id="menu" class="menu">
                                        <ul class="dropdown">
                                           <li class="active"><a href="/">Home</a>

                                            
                                           </ul>
                                    </nav>
                                </div>
                            </div>
                                            </div>
                    </div>
                </div><!-- ttm-stickable-header-w end-->
            </div><!--ttm-header-wrap end -->
        </header><!--header end-->

       <!-- END REVOLUTION SLIDER -->

    <!--site-main start-->
    <div class="site-main">

        <!--row-top-section-->
<br>
        <section id="about us" class="ttm-row intro-section ttm-bgcolor-grey clearfix">
                <div class="container">
                    <div class="row">
                       <div class="col-lg-6 col-sm-12">
                            <div class="pt-50 pl-20 res-991-pl-0">
                                <!-- section title -->
                                <div class="section-title clearfix">
                                    <div class="title-header">
                                        <h3>KEY STAFF MEMBERS</h3>
                                        <p class="title"><strong style=" color:blue;">STAFF</strong><br> 
                                        Our staff are highly motivated, highly skilled, 
                                        trained in customer care and focused on delivery quality care to our patients.
                                         We pride ourselves in attracting only the best and only those that buy into our philosophy and care principles –
                                          that the patient is central to what we do.
                                             Our staff are friendly, welcoming and available to help or serve.
                                            We are committed to developing and training everyone who is employed by
                                             BMC and have a dedicated unit for education, manpower training and development.
                                        </p>
    
                                    </div>
                                </div><!-- section title end -->
                                
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-sm-12">
                            <!-- ttm_single_image-wrapper -->
                            <div class="ttm_single_image-wrapper text-right">
                                <img class="img-fluid" src="assets/Britannia15.jpg" alt="">
                            </div><!-- ttm_single_image-wrapper end -->
                        </div>


                        
                        
                     
                    </div><!-- row end -->
                    
                </div>
            </section>
            <section id="about us" class="ttm-row intro-section clearfix">
            <div class="container">
                <div class="row">
                <div class="col-lg-6 col-sm-12">
                        <!-- ttm_single_image-wrapper -->
                        <div class="ttm_single_image-wrapper text-right">
                            <img class="img-fluid2" src="assets/Britannia16.jpg" alt="">
                            <p style="color:blue;">Dr Koby Appiah-Sakyi MBBS, MSc, FRCOG</p>
                        </div><!-- ttm_single_image-wrapper end --><br><br>
                        
                        <!-- ttm_single_image-wrapper -->
                        
                    </div>

                   <div class="col-lg-6 col-sm-12">
                        <div class=" pl-20 res-991-pl-0">
                            <!-- section title -->
                            <div class="section-title clearfix">
                                <div class="title-header">
                                <div class="mb-25 clearfix">
                                <p class="title"><strong style=" color:blue;">CHIEF EXECUTIVE OFFICER</strong><br> 
                                Dr Koby trained at the Kumasi Medical School after which he underwent specialisation in the UK gaining the MRCOG. 
                                He then became a consultant Obstetrician and Gynaecologist at the North Manchester
                                 Acute NHS Trust before moving to Sidra Medicine Qatar where he was an Attending Physician/Consultant in Obstetrics and Gynaecology for 7 years.
                                BMC was his idea and he wishes to bring back to Ghana what he has learned working in the UK and in the Middle East.
                                He is driven by the desire to give back to the community and to use BMC as a medium to drive standards in healthcare in the country.
                                Amongst his famous quotes is “If China and some less resource countries can do it, Ghana can and even better”. 
                                 He believes in Ghana and hopes to bring to the country a service that would be second to none.
                                He will be supported by a team of healthcare workers (nurses, physicians, pharmacists, 
                                laboratory staff and others) in executing this vision.
                                </p>
                                </div>
                                
                                </div>
                            </div><!-- section title end -->
                            
                            
                            
                            

                            
                        </div>
                    </div>
                    
                    
                    
                    
                 
                </div><!-- row end -->
            </div>
        </section>
        <section id="about us" class="ttm-row ttm-bgcolor-grey intro-section clearfix">
        <div class="container">
            <div class="row">
            

               <div class="col-lg-6 col-sm-12">
                    <div class=" pl-20 res-991-pl-0">
                        <!-- section title -->
                        <div class="section-title clearfix">
                            <div class="title-header">
                            <div class="mb-25 clearfix">
                            <p class="title"><strong style=" color:blue;">BOARD CHAIR</strong><br> 
                            Dr Konje is Currently Professor of Obstetrics and 
                            Gynaecology, Weill Cornell Medicine Qatar and New York and Emeritus 
                            Professor of Obstetrics and Gynaecology, University of Leicester UK.
                             He was the Division Chief of Research for Women’s Services for 2 years as well as the foundation Executive Chairman
                              of Women’s Clinical Services Management Group (WCMG) at Sidra.
                               As the Foundation Executive Chairman, he was involved in activation of a greenfield tertiary hospital. 
                               Prior to joining Sidra, he was the academic head of Obstetrics and Gynaecology for 6 years at the
                                University of Leicester, UK, the Head of Maternity services at one of the
                                 largest Maternity Hospitals (University Hospital of Leicester NHS Trust) 
                        in the UK, the Head of Postgraduate School for Obstetrics and Gynaecology in east Midlands 
                            for 5 years and member of the governing council of the Royal College of Obstetricians and 
                                Gynaecologist, UK for 9 years where he served in various committees and chaired various subcommittees.
                                 He is a committed clinician, teacher, researcher and manager. 
                                 He will bring to Britannia his wealth of experience in all these domains and as well as 
                                 provide clinical care in his areas of interest which include fetal medicine, 
                            endometriosis and laparoscopic surgery.
                            </p>
                            </div>
                            
                            </div>
                        </div><!-- section title end -->
                        
                        
                        
                        

                        
                    </div>
                </div>
                
                <div class="col-lg-6 col-sm-12">
                    <!-- ttm_single_image-wrapper -->
                    <div class="ttm_single_image-wrapper text-right">
                        <img class="img-fluid4" src="assets/Britannia18.jpg" alt="">
                        <p style="color:blue; margin-left:100px;">Professor Justin C Konje MD, MBA, FRCOG, LLB, FMCOG (Nig)</p>
                    </div><!-- ttm_single_image-wrapper end --><br><br>
                    
                    <!-- ttm_single_image-wrapper -->
                    
                </div>
                
                
             
            </div><!-- row end -->
        </div>
    </section>
    <section id="about us" class="ttm-row intro-section clearfix">
            <div class="container">
                <div class="row">
                <div class="col-lg-6 col-sm-12">
                        <!-- ttm_single_image-wrapper -->
                        <div class="ttm_single_image-wrapper text-right">
                            <img class="img-fluid4" src="assets/Britannia17.jpg" alt="">
                            <p style="color:blue;">Dr Olusegun A Odukoya MD, MBA, LLB, FRCOG, FMCOG (Nig), FWACS</p>
                        </div><!-- ttm_single_image-wrapper end --><br><br>
                        
                        <!-- ttm_single_image-wrapper -->
                        
                    </div>

                   <div class="col-lg-6 col-sm-12">
                        <div class=" pl-20 res-991-pl-0">
                            <!-- section title -->
                            <div class="section-title clearfix">
                                <div class="title-header">
                                <div class="mb-25 clearfix">
                                <p class="title"><strong style=" color:blue;">ACTING CHIEF MEDICAL OFFICER</strong><br> 
                                Dr Odukoya is currently a Senior Consultant Obstetrician
                                 and Gynaecologist, Awakra Hospital Qatar. He was previously a Senior Attending Physician 
                                 at Sidra Medicine from 20017-2019; Chief Executive Officer (CEO) Eko Group of Hospitals Lagos, 
                                 Nigeria (2011-2017) (where he transformed a loss making organisation into
                                  a profitable one within a period of 6 months and delivered exceptional growth in
                                   quality of care, training and innovation), 
                                   Senior Consultant Obstetrician and Gynaecologist at Scunthorpe District Hospital UK 
                                   where he was an Honorary Senior Lecturer at the University of Sheffield, UK as well as 
                                the Director of Medical Education at the Trust.
                                He has a vast experience in management as well as clinical expertise 
                            in Reproductive Medicine including Infertility and Endometriosis. 
                                Apart from providing management support including financial oversight
                                 to Britannia Medical, he will also regularly visit to 
                                deliver highly specialised clinical care.
                                </p>
                                </div>
                                
                                </div>
                            </div><!-- section title end -->
                   

                            
                        </div>
                    </div>
                    
                 
                </div><!-- row end -->
            </div>
        </section>
        
        
    <section id="about us" class="ttm-row intro-section ttm-bgcolor-grey clearfix">
    <div class="container">
        <div class="row">
        

           <div class="col-lg-6 col-sm-12">
                <div class=" pl-20 res-991-pl-0">
                    <!-- section title -->
                    <div class="section-title clearfix">
                        <div class="title-header">
                        <div class="mb-25 clearfix">
                        <p class="title"><strong style=" color:blue;">ACTING HEAD OF CLINICAL SERVICES</strong><br> 
                        Dr Biney studied at the University of Ghana where he obtained
                         a Bachelor’s degree in Medical Sciences in 2006 after which 
                        he continued to obtain his MBchB in 2010. He studied and obtained a Masters in Public Health (MPH) in 2017 from the 
                        Ensign College of {Pubic Health, Ghana which is affiliated with the University of Utah, USA and KNUST Ghana.
                         He worked at various hospitals as Medical Officer before finally joining the Department of Medicine Korle Bu Teaching Hospital from 
                         February 2014 to August 2018 for his postgraduate training. He then joined the US Peace Corps Clinic Accra for a short period as a medical officer.
                        He joined Britannia Medical in January 2020 as the Resident Physician. His philosophy of care emphasising the important of the patient 
                        as the centre of care resonated with that of the CEO.
                        His understanding of the drive to empower patients, provide evidence based case and work towards the development of an excellent team with shared believes on care were crucial qualities that led to his appointment as the 
                        Acting Head of Clinical Services.
                        Dr Biney shares the passion of the CEO and believes in nurturing talent,
                         team work and ensuring that patients who pass though BMC have the ‘waoh’ experience.
                          He leads a team of dedicated physicians and works closely with the leadership team to fulfil the goals of BMC.
                        </p>
                        </div>
                        
                        </div>
                    </div><!-- section title end -->
                    
                    
                    
                    

                    
                </div>
            </div>
            
            <div class="col-lg-6 col-sm-12">
                <!-- ttm_single_image-wrapper -->
                <div class="ttm_single_image-wrapper text-right">
                    <img class="img-fluid4" src="assets/Britannia20.jpg" alt="">
                    <p style="color:blue; margin-left:100px;">Dr Isaac Justice Kobina Biney BSc, MBchB, MPH</p>
                </div><!-- ttm_single_image-wrapper end --><br><br>
                
                <!-- ttm_single_image-wrapper -->
                
            </div>
            
            
         
        </div><!-- row end -->
    </div>
</section>
<section id="about us" class="ttm-row intro-section  clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <!-- ttm_single_image-wrapper -->
                    <div class="ttm_single_image-wrapper text-right">
                        <img class="img-fluid7" src="assets/Britannia21.jpg" alt="">
                        <p style="color:blue; margin-left:100px;">Mrs Barbara Amankwa Opam Akusie</p>
                    </div><!-- ttm_single_image-wrapper end --><br><br>
                    
                    <!-- ttm_single_image-wrapper -->
                    
                </div>
                
                <div class="col-lg-6 col-sm-12">
                <div class=" pl-20 res-991-pl-0">
                    <!-- section title -->
                    <div class="section-title clearfix">
                        <div class="title-header">
                        <div class="mb-25 clearfix">
                        <p class="title"><strong style=" color:blue;">MATRON (HEAD NURSE)</strong><br> 
                        BSc (Nursing), MSc Applied Health and Social Sciences; Registered Nurse
                            Miss Opam is a passionate and very experienced nurse with
                            a great understanding of the private sector. 
                            She trained at the University of Ghana School of Nursing and Midwifery after which 
                            she worked in the government hospital for a short spell and them moved into the private sector 
                            where she has been for the past 10 years. She joined BMC in 2020 and brings to the organisation
                            her excellent nursing skills, desire to provide the best care for patients and empowering and
                            supporting staff to take ownership of care and deliver to the end-user standards that are most suitable for them.
                            he has a special interest in health education 
                            and adolescent health and believes very strongly 
                        in the philosophy and culture of BMC. She leads a team of highly committed nurses and 
                            ancillary staff and works closely with the leadership team to 
                            make the experience at BMC one to remember.
                        </p>
                        </div>
                        
                        </div>
                    </div><!-- section title end -->
                    
                    
                    
                    

                    
                </div>
            </div>
             
            </div><!-- row end -->
        </div>
    </section>
    <section id="about us" class="ttm-row intro-section ttm-bgcolor-grey clearfix">
        <div class="container">
            <div class="row">
        
               <div class="col-lg-6 col-sm-12">
                    <div class=" pl-20 res-991-pl-0">
                        <!-- section title -->
                        <div class="section-title clearfix">
                            <div class="title-header">
                            <div class="mb-25 clearfix">
                            <p class="title"><strong style=" color:blue;">ACTING GENERAL MANAGER</strong><br> 
                            Caleb studied at the University of Ghana Legon where he obtained a 
                            Bachelors of Arts in Economics and Information Studies. 
                            He has a very wide experience having worked in Barclays Bank, CR18 Group, IC Securities, 
                            Belnet Systems and Enterprise Life. From October 2017 to May 2019, 
                            he worked with Assure Advisors. In each of these jobs 
                            he worked with a team of colleagues some of who he managed. 
                            He was responsible for training and supervising staff at Assure Advisors.
                             Mr Hoffmann has a great understanding of 
                            Java programming and combines his computing skills in his management responsibilities.
                            He has over a very short period developed and
                             consolidated skills in managing people, integrating systems such 
                             as installing networks in organisations, 
                            multi-tasking and communication.
                            He joined BMC in 2020 and having shown the qualities
                             and attributes that align with the core values of the organisation.

                            </p>
                            </div>
                            
                            </div>
                        </div><!-- section title end -->
                        
                        
                        
                        

                        
                    </div>
                </div>
                
                
                <div class="col-lg-6 col-sm-12">
                    <!-- ttm_single_image-wrapper -->
                    <div class="ttm_single_image-wrapper text-right">
                        <img class="img-fluid4" src="assets/Britannia19.jpg" alt="">
                        <p style="color:blue; margin-left:100px;">Mr Caleb Hoffmann BA</p>
                    </div><!-- ttm_single_image-wrapper end --><br><br>
                    
                    <!-- ttm_single_image-wrapper -->
                    
                </div>
             
            </div><!-- row end -->
        </div>
    </section>
                    


<section id="contact us">
    <footer class="footer widget-footer clearfix">
        <div class="first-footer ttm-bgcolor-skincolor">
            <div class="container">
                <div class="row">
                    <div class="widget-area col-xs-12 col-sm-12 col-md-6 col-lg-4">
                        <aside class="widget widget-text">
                            <!--featured-icon-box-->
                            <div class="featured-icon-box iconalign-before-heading">
                                <div class="featured-icon">
                                    <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-sm ttm-icon_element-style-square">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                </div>
                                <div class="featured-title">
                                    <h5>+233202400733</h5>
                                    <h4>Have a question? call us now</h4>
                                </div>
                            </div><!-- featured-icon-box end-->
                        </aside>
                    </div>
                    <div class="widget-area col-xs-12 col-sm-12 col-md-6 col-lg-4">
                        <aside class="widget widget-text">
                            <!--featured-icon-box-->
                            <div class="featured-icon-box iconalign-before-heading">
                                <div class="featured-icon">
                                    <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-sm ttm-icon_element-style-square">
                                        <i class="fa fa-envelope-o"></i>
                                    </div>
                                </div>
                                <div class="featured-title">
                                    <h5>info@britanniamedicalcenter.org</h5>
                                    <h4>Need support? Drop us an email</h4>
                                </div>
                            </div><!-- featured-icon-box end-->
                        </aside>
                    </div>
                    <div class="widget-area col-xs-12 col-sm-12 col-md-6 col-lg-4">
                        <aside class="widget widget-text">
                            <!--featured-icon-box-->
                            <div class="featured-icon-box iconalign-before-heading">
                                <div class="featured-icon">
                                    <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-sm ttm-icon_element-style-square">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                </div>
                                <div class="featured-title">
                                    <h5>Mon – Fri 07:00 – 20:00</h5>
                                    <h4>Opened</h4>
                                </div>
                            </div><!-- featured-icon-box end-->
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </section>


        <div class="bottom-footer-text ttm-textcolor-white">
            <div class="container">
                <div class="row copyright">
                    <div class="col-md-12">
                        <span>Copyright © 2022 Britannia Medical Centre.<br> All rights reserved</span>
                    </div>

                </div>
            </div>

        </div>



    <!-- Javascript -->


    <script src="assets/jquery.min.js"></script>

    <script src="assets/bootstrap.min.js"></script>
    <script src="assets/jquery.easing.js"></script>
    <script src="assets/jquery-waypoints.js"></script>
    <script src="assets/jquery-validate.js"></script>
    <script src="assets/owl.carousel.js"></script>
    <script src="assets/jquery.prettyPhoto.js"></script>
    <script src="assets/numinate.min.js"></script>
    <script src="assets/jquery.event.move.js"></script>
    <script src="assets/jquery.twentytwenty.js"></script>

    <script src="assets/main.js"></script>

    <!-- Revolution Slider -->
    <script src="assets/jquery.themepunch.tools.min.js"></script>
    <script src="assets/jquery.themepunch.revolution.min.js"></script>
    <script src="assets/slider.js"></script>

    </script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->

    <script src="assets/revolution.extension.actions.min.js"></script>
    <script src="assets/revolution.extension.carousel.min.js"></script>
    <script src="assets/revolution.extension.kenburn.min.js"></script>
    <script src="assets/revolution.extension.layeranimation.min.js"></script>
    <script src="assets/revolution.extension.migration.min.js"></script>
    <script src="assets/revolution.extension.navigation.min.js"></script>
    <script src="assets/revolution.extension.parallax.min.js"></script>
    <script src="assets/revolution.extension.slideanims.min.js"></script>


    



    <!-- Javascript end-->
    </body>
</html>
