<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Hi, <%= @appointment.fullname %> !</h1>

    <p> Your Appointment has been received and you will be contacted shortly. Your request is very important to us.  Below are the information you sent to us </p>
     <p><b>Email:</b> <%= @appointment.email %> </p>
    <p><b>Department Selected:</b> <%= @appointment.select_department %> </p>
      <p><b>Phone Number:</b> <%= @appointment.phone_number %> </p>
    <p><b>Appointment Date:</b> <%= @appointment.appointment_date.strftime('%d-%m-%y') %></p>
      <p><b>Appointment Time:</b> <%= @appointment.appointment_time.strftime('%H:%M') %></p>


    <br>

    <p>For any other information, Contact our office on +233202400733. </p>
  </body>
</html>
