<%= form_with(model: britannia_web, local: true) do |form| %>
  <% if britannia_web.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(britannia_web.errors.count, "error") %> prohibited this britannia_web from being saved:</h2>

      <ul>
      <% britannia_web.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fullname %>
    <%= form.text_field :fullname, id: :britannia_web_fullname %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :britannia_web_email %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.number_field :phone_number, id: :britannia_web_phone_number %>
  </div>

  <div class="field">
    <%= form.label :appointment_date %>
    <%= form.datetime_select :appointment_date, id: :britannia_web_appointment_date %>
  </div>

  <div class="field">
    <%= form.label :appointment_time %>
    <%= form.datetime_select :appointment_time, id: :britannia_web_appointment_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
