<p id="notice"><%= notice %></p>

<h1>Britannia Webs</h1>

<table>
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Appointment date</th>
      <th>Appointment time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @britannia_webs.each do |britannia_web| %>
      <tr>
        <td><%= britannia_web.fullname %></td>
        <td><%= britannia_web.email %></td>
        <td><%= britannia_web.phone_number %></td>
        <td><%= britannia_web.appointment_date %></td>
        <td><%= britannia_web.appointment_time %></td>
        <td><%= link_to 'Show', britannia_web %></td>
        <td><%= link_to 'Edit', edit_britannia_web_path(britannia_web) %></td>
        <td><%= link_to 'Destroy', britannia_web, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Britannia Web', new_britannia_web_path %>
