<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @britannia_web.fullname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @britannia_web.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @britannia_web.phone_number %>
</p>

<p>
  <strong>Appointment date:</strong>
  <%= @britannia_web.appointment_date %>
</p>

<p>
  <strong>Appointment time:</strong>
  <%= @britannia_web.appointment_time %>
</p>

<%= link_to 'Edit', edit_britannia_web_path(@britannia_web) %> |
<%= link_to 'Back', britannia_webs_path %>
