@media only screen and (min-width: 1801px){

	.ttm-fbar-position-right .ttm-fbar-box-w {
	    max-height: 710px;
	    top: 150px;
	}

	/* Bg-Layer */
	.ttm-left-span .ttm-col-wrapper-bg-layer {
	    margin-left: -500px;
	}
	.ttm-right-span .ttm-col-wrapper-bg-layer ,
	.col-bg-img-one .ttm-right-span .ttm-col-wrapper-bg-layer{
	    margin-right: -500px;
	}
}

@media only screen and (max-width: 1800px) and (min-width: 1601px){

	/* Bg-Layer */
	.ttm-left-span .ttm-col-wrapper-bg-layer {
	    margin-left: -400px;
	}
	.ttm-right-span .ttm-col-wrapper-bg-layer,
	.col-bg-img-one .ttm-right-span .ttm-col-wrapper-bg-layer {
	    margin-right: -400px;
	}
}

@media only screen and (max-width: 1600px) and (min-width: 1401px){

	/* Bg-Layer */
	.ttm-left-span .ttm-col-wrapper-bg-layer {
	    margin-left: -300px;
	}
	.ttm-right-span .ttm-col-wrapper-bg-layer,
	.col-bg-img-one .ttm-right-span .ttm-col-wrapper-bg-layer {
	    margin-right: -300px;
	}
}

@media only screen and (max-width: 1400px) and (min-width: 1171px){

	/* Bg-Layer */
	.ttm-left-span .ttm-col-wrapper-bg-layer {
	    margin-left: -200px;
	}
	.ttm-right-span .ttm-col-wrapper-bg-layer ,
	.col-bg-img-one .ttm-right-span .ttm-col-wrapper-bg-layer{
	    margin-right: -200px;
	}
}


@media only screen and (min-width: 1200px){

	/*topbar*/
	.ttm-top-info-con ul li:not(:last-child):after{
		content: "";
	    height: 50px;
	    width: 1px;
	    background-color: rgba(0,0,0,0.06);
	    display: block;
	    position: absolute;
	    right: 0px;
	    top: 36px;
	}

	/* menu */
	.menu, .ttm-header-icons, .ttm-header-icon { float: right; }
	#site-header-menu #site-navigation .menu > ul > li > a {
	    display: block;
	    margin: 0px;
	    padding: 0px 18px 0px 18px;
	    text-decoration: none;
	    position: relative;
	    z-index: 1;
	    height: 102px;
	    line-height: 102px;
	}
	#site-header-menu #site-navigation .menu ul ul {
		background-color: #fff;
	    text-align: left;
	    position: absolute;
	    visibility: hidden;
	    display: block;
	    width: 250px;
    	padding: 0px;
	    opacity: 0;
	    line-height: 14px;
	    margin: 0;
	    list-style: none;
	    left: 0;
	   	box-shadow: 0 3px 25px 0px rgba(0,0,0,.07), 0 0 0 rgba(0,0,0,.10) inset;
	    background-clip: padding-box;
	    transition: all .2s ease;
	    z-index: 99;
	}
	#site-header-menu #site-navigation .menu > ul > li:nth-last-child(2) > ul{ right: 0; left: auto; }
	#site-header-menu #site-navigation .menu ul > li:hover > ul { opacity: 1; display: block; visibility: visible; height: auto; }

	#site-header-menu #site-navigation .menu > ul ul li a {
		margin: 0;
	    display: block;
	    padding: 15px 20px;
	    position: relative;
	    font-family: "Ubuntu",Arial,Helvetica,sans-serif;
	    font-weight: 400;
	    font-size: 13px;
	    line-height: 18px;
	}
	.ttm-stickable-header.fixed-header {
		z-index: 111;
		background-color: #fff;
	    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.06);
	}
	.fixed-header {
	    position: fixed !important;
	    top: 0;
	    left: 0;
	    width: 100%;
	    z-index: 9;
	}
	.ttm-stickable-header.fixed-header .site-branding,
	.ttm-stickable-header.fixed-header .ttm-header-icons, .ttm-stickable-header.fixed-header .ttm-header-icon,
	#site-header-menu .ttm-stickable-header.fixed-header #site-navigation > .menu > ul > li > a,
	.fixed-header .ttm-header-text-area{
		height: 70px;
		line-height: 70px;
	}


	/* sep-img//sepline */
	#site-header-menu #site-navigation li.ttm-sepline{
	    position:absolute !important;
	    top:0px !important;
	    left:0px;
	    right:auto;
	    text-align:center;
	    height:25px !important;
	    display:block;
	}
	#site-header-menu #site-navigation .sep-img{
	    display:inline-block;
	    position:absolute;
	    content:"";
	    top:0px;
	    margin:0 auto;
	    left:50%;
	    background-repeat:no-repeat;
	    background-position:0px -6px;
	    width:8px;
	    height:22px;
	    text-align:center;
	    margin-left:-5px;
	}
	#site-header-menu #site-navigation .sep-img{ background-color:#00d6a3 ;}
	#site-header-menu .fixed-header #site-navigation .sep-img{top:-5px}
	#site-header-menu #site-navigation .menu > ul > li:hover > a:before {opacity:1}
	.ttm-header-style-infostack #site-header-menu #site-navigation .sep-img{
	    content:unset;
	    opacity:0;
	    visibility:hidden;
	}
	#site-header-menu #site-navigation .sep-img{
	    -webkit-mask:url() no-repeat 100% 100%;
	    mask:url() no-repeat 100% 100%;
	    -webkit-mask-size:cover;
	    mask-size:cover;
	}


	/* ttm-header-style-classicinfo */
	.ttm-header-style-classicinfo .ttm-contact span.icon {
	    padding-right: 8px;
	}
	.ttm-header-style-classicinfo .ttm-contact {
	    position: relative;
	    padding-left: 20px;
	    float: right;
	    line-height: 48px;
	    bottom: -18px;
	    font-size: 16px;
	    color: #fff;
	    font-weight: 500;
	    font-family: "Saira",Arial,Helvetica,sans-serif;
	}
	.ttm-header-style-classicinfo .ttm-contact:after {
	    content: "";
	    width: 5000px;
	    height: 100%;
	    left: 100%;
	    top: 0px;
	    position: absolute;
	}

	/* ttm-header-style-infostack */
	.ttm-header-style-infostack .ttm-topbar-wrapper {
	    padding: 0px 0px 61px;
	}
	.ttm-header-style-infostack .ttm-header-wrap {
	    top: 49px;
	    position: absolute;
	    z-index: 21;
	    width: 100%;
	    box-shadow: none;
	}
	.ttm-header-style-infostack .ttm-header-top-wrapper {
	    padding: 0 25px;
	}
	.ttm-header-style-infostack #site-header-menu #site-navigation .menu ul.dropdown > li > a,
    .ttm-header-style-infostack .ttm-header-icons, .ttm-header-style-infostack .ttm-header-icon { height: 60px; line-height: 60px; }
    .ttm-header-style-infostack #site-header-menu #site-navigation .menu {
	    float: none;
	}
	.ttm-header-style-infostack #site-header-menu #site-navigation .menu > ul > li > a{ padding: 0px 25px 0px 25px; }
	.ttm-header-style-infostack #site-header-menu #site-navigation .menu > ul > li > a{ color: #fff; }
	.ttm-header-style-infostack #site-header-menu #site-navigation .menu > ul > li:not(:first-child){ margin-left: -4px; }
	.ttm-header-style-infostack .ttm-header-icons {
	    padding-right: 30px;
	}
	.ttm-header-style-infostack #site-header-menu #site-navigation .menu > ul > li > a:after{
		width: 0;
	    height: 100%;
	    display: block;
	    opacity: 0;
	    position: absolute;
	    content: "";
	    top: 0;
	    bottom: auto;
	    left: 0;
	    background-color: #00d6a3;
	    -webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	    -khtml-transform: translateX(0%) translateY(0%);
	    -moz-transform: translateX(0%) translateY(0%);
	    -ms-transform: translateX(0%) translateY(0%);
	    -o-transform: translateX(0%) translateY(0%);
	    transform: translateX(0%) translateY(0%);
	    z-index: -1;
	}
	.ttm-header-style-infostack #site-header-menu #site-navigation .menu > ul > li.active > a:after,
	.ttm-header-style-infostack #site-header-menu #site-navigation .menu > ul > li:hover > a:after{
		width: 100%;
    	opacity: 1;
	}
    .ttm-header-style-infostack .ttm-header-icons .ttm-header-cart-link:before {
	    background-color: rgba(255,255,255,0.06);
	}
	.ttm-header-style-infostack .site-branding,
	.ttm-header-style-infostack .ttm-content-wrapper{
		height: 106px;
		line-height: 106px;
	}
    .ttm-header-style-infostack .site-branding {
        float: left;
	    text-align: left;
	    display: block;
	    position: relative;
	    z-index: 10;
	}
    .ttm-header-style-infostack .ttm-stickable-header-w { height: auto; position: relative; }
    .ttm-header-style-infostack .ttm-content-wrapper{
	    position: relative;
	    float: right;
	    vertical-align: middle;
	    display: table;
	}
    .ttm-header-style-infostack .header-widget {
	    display: table-cell;
	    position: relative;
	    vertical-align: middle;
	    height: 100%;
	    margin: 0;
	    padding-right: 40px;
	}
	.ttm-header-style-infostack .header-widget:last-child{ padding-right: 0; }
	.ttm-header-style-infostack .header-widget .ttm-btn{
		padding: 13px 26px 13px 26px;
	    font-weight: 600;
	    font-size: 12px;
	}
	.ttm-header-style-infostack .ttm-stickable-header.fixed-header{ background: transparent; box-shadow: none; }


	/* ttm-header-style-overlay */
    .ttm-header-style-overlay .ttm-stickable-header-w {
    	background-color: white ;
	    position: absolute;
	    z-index: 21;
	    width: 100%;
	    box-shadow: none;
	    -khtml-box-shadow: none;
	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    -ms-box-shadow: none;
	    -o-box-shadow: none;
	}
	.ttm-header-style-overlay .ttm-stickable-header-w:after {
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    content: "";
	    height: 1px;
	    width: 100%;
	    background-color: rgba(255,255,255,0.20);
	}
	.ttm-header-style-overlay #site-header-menu #site-navigation .menu ul.dropdown > li > a {
	    color: blue;
	}

	/* ttm-header-floating-text */
	.ttm-header-text-area {
		float: right;
		height: 98px;
		line-height: 98px;
	    padding-left: 20px;
	    position: relative;
	}
	.ttm-header-floating-text {
	    position: absolute;
	    top: 0;
	    padding: 0 13px 0 12px;
	    color: #fff;
	    border-bottom-right-radius: 30px;
	    border-bottom-left-radius: 30px;
	    width: 44px;
	    padding-top: 17px;
	    height: 129px;
	    overflow: hidden;
	    transition: all .5s ease-in-out;
	    -moz-transition: all .5s ease-in-out;
	    -webkit-transition: all .5s ease-in-out;
	    -o-transition: all .5s ease-in-out;
	    z-index: 1;
	}
	.ttm-header-floating-text h1, .ttm-header-floating-text h2, .ttm-header-floating-text h3, .ttm-header-floating-text h4, .ttm-header-floating-text h5 {
	    font-size: 14px;
	    line-height: 19px;
	    color: #fff;
	    white-space: pre;
	    transform: rotate(90deg);
	    letter-spacing: .5px;
	    font-weight: 400;
	}
	.ttm-header-floating-text .icon {
	    line-height: 39px;
	    margin-left: -1px;
	    vertical-align: bottom;
	    position: absolute;
	    bottom: 0;
	}
	.ttm-header-floating-text .icon i {
	    border: 1px solid #fff;
	    border-radius: 50%;
	    width: 24px;
	    height: 24px;
	    font-size: 14px;
	    padding-top: 4px;
	    text-align: center;
	}
	.ttm-header-text-area .header-info-widget {
	    vertical-align: middle;
	    display: inline-block;
	    text-align: left;
	}
	.ttm-header-text-area div.header-info-widget:nth-child(2) {
	    padding-left: 62px;
	}
	.ttm-header-text-area .header-info-widget h2 {
	    font-size: 20px;
	    line-height: 28px;
	    margin-bottom: 3px;
	    font-weight: 600;
	}
	.ttm-header-text-area .header-info-widget h3 {
	    font-size: 15px;
	    line-height: 19px;
	    margin-bottom: 0px;
	    font-weight: 400;
	}

    /*Footer*/
	.second-footer>div>.row .widget-area:first-child .widget { margin-right: 10px; }
	.second-footer>div>.row .widget-area:last-child .widget { margin-right: 0;}
	.second-footer>div>.row .widget-area .widget:not(:first-child) { padding-top: 0; margin-top: -21px; }

}


@media (max-width: 1200px){

	/* padding */
	.res-1200-ptb-0{ padding: 0px !important; }
	.res-1200-pt-0{ padding-top: 0px !important; }
	.res-1200-pb-30{ padding-bottom: 30px !important; }
	.res-1200-pl-30{ padding-left: 30px !important; }
	.res-1200-pb-50{ padding-bottom: 50px !important; }
	.res-1200-mt-0{ margin-top: 0 !important; }
	.res-1200-mr-0{ margin-right: 0 !important; }
	.res-1200-plr-0{ padding-left: 0px !important; padding-right: 0px !important; }
	.res-1200-plr-15{ padding-left: 15px !important; padding-right: 15px !important; }

	/* featured-icon-box */
	.ttm-box-seperator .featured-icon-box {
	    padding: 41px 20px 31px;
	}
}


@media all and (max-width: 1199px) {


	/* Header */
	header .container{ max-width: 100%; }

	.ttm-menu-toggle {
	    position: relative;
	    height: 98px;
	    width: 28px;
	    float: left;
	}
	.ttm-menu-toggle label {
	    cursor: pointer;
	    position: absolute;
	    z-index: 99;
	    height: 100%;
	    width: 100%;
	    top: 40px;
	    left: 0;
	    margin : 0;
	}
	.ttm-menu-toggle .toggle-block {
	    position: absolute;
	    height: 2px;
	    width: 100%;
	    padding: 0;
	    background-color: #262626;
	}
	.ttm-menu-toggle .toggle-blocks-1 {
	    position: relative;
	    float: left;
	}
	.ttm-menu-toggle .toggle-blocks-2 {
	    position: relative;
	    float: left;
	    margin-top: 6px;
	}
	.ttm-menu-toggle .toggle-blocks-3 {
	    position: relative;
	    float: left;
	    margin-top: 6px;
	}
	.ttm-menu-toggle input[type=checkbox]:checked ~ .ttm-menu-toggle-block > .toggle-blocks-2 { opacity: 0; }
	.ttm-menu-toggle input[type=checkbox]:checked ~ .ttm-menu-toggle-block > .toggle-blocks-1 {
	    transform: rotate(135deg);
	    -webkit-transform: rotate(135deg);
	    margin-top: 10px;
	}
	.ttm-menu-toggle input[type=checkbox]:checked ~ .ttm-menu-toggle-block > .toggle-blocks-3 {
	    transform: rotate(-135deg);
	    -webkit-transform: rotate(-135deg);
	    margin-top: -10px;
	}
	.ttm-topbar-wrapper{ display: none; }

	.ttm-search-overlay .ttm-search-outer{ width: auto; }

	/* logo */
	.site-branding {
	    float: none;
	    text-align: center;
	}
	.site-branding {
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    z-index: 1;
		background-color: white;
	}

	/* menu */
	#site-header-menu #site-navigation .menu, #site-header-menu #site-navigation .menu > ul ul, #site-header-menu #site-navigation .menu ul li > ul li a:before {
	    display: none;
	}
	#site-header-menu #site-navigation .menu.active, #site-header-menu #site-navigation .menu > ul ul.active {
    	display: block;
	    max-height: 10000px;
	    width: 100%;
	}
	#site-header-menu #site-navigation .menu {
	    clear: both;
	    min-width: inherit;
	    float: none;
	}
	#site-header-menu #site-navigation .menu > ul {
	    padding-right: 15px;
	    padding-left: 15px;
	}
	#site-header-menu #site-navigation .menu > ul {
	    position: absolute;
	    box-shadow: rgba(0,0,0,0.12) 3px 3px 15px;
	    z-index: 100;
	    width: 100%;
	    top: auto;
	    background-color: #fff;
	    border-top: 3px solid;
	}
	#site-header-menu #site-navigation .menu > ul li {
	    display: block;
		position: relative;
	    border-bottom: 1px solid rgba(127,144,148,0.15);
	}
	#site-header-menu #site-navigation .menu > ul > li a {
    	display: block;
	    padding: 15px 0px;
	    text-decoration: none;
	    line-height: 18px;
	    height: auto;
	    line-height: 18px !important;
	    color: rgba(127,144,148,1);
	}
	#site-header-menu #site-navigation .menu > ul ul > li.active > a,
	#site-header-menu #site-navigation .menu > ul ul > li:hover > a{
		background-color: transparent;
		color: #01d6a3;
	}
	#site-header-menu #site-navigation .menu ul > li.has-submenu > a:after {
	    content: "\f107";
	    display: inline-block;
	    font-family: "FontAwesome";
	    position: relative;
	    font-size: 20px;
	    font-weight: normal;
	    position: absolute;
	    right: 5px;
	}
	#site-header-menu #site-navigation .menu ul > li.has-submenu > a.active:after {
	    content: '\f106';
	}
	#site-header-menu #site-navigation .menu ul > li > ul li.has-submenu > a:after {
	    content: "\f107";
	    position: absolute;
	    background-color: transparent;
	    right: 12px;
	    top: 16px;
	    display: inline-block;
	    font-family: "FontAwesome";
	    font-size: 15px;
	    margin-left: 4px;
	    opacity: 0.8;
	}
	#site-header-menu #site-navigation .menu ul.dropdown > li > ul > li.has-submenu > a.active:after {
	    content: '\f106';
	}
	#site-header-menu #site-navigation .menu ul ul, #site-header-menu #site-navigation .menu ul ul ul {
	    display: inherit;
	    position: relative;
	    left: auto;
	    top: auto;
	    border: none;
	}
	#site-header-menu #site-navigation .menu ul li:hover > ul {
	    display: block;
	}
	#site-header-menu #site-navigation .menu ul li > ul {
	    padding-left: 15px;
	}
	#site-header-menu #site-navigation .menu, #site-header-menu #site-navigation .menu > ul ul {
	    overflow: hidden;
	    max-height: 0;
	    background-color: #fff;
	}

	.ttm-header-style-classicinfo .ttm-content-wrapper ,
	.ttm-content-wrapper, .ttm-header-text-area{
		display: none;
	}

	/* Header-style-infostack */
	.ttm-header-style-infostack .ttm-stickable-header-w , .ttm-header-style-infostack .site-navigation{ background-color: #fff; }
	.ttm-header-style-infostack .ttm-header-icons{ display: none; }

	/* Header-style-overlay */
	.ttm-header-style-overlay .ttm-stickable-header-w .site-header-menu{ height: 98px; }
	.ttm-header-style-overlay .ttm-stickable-header-w { background-color: #033b4a !important; }
	.ttm-header-style-overlay .ttm-menu-toggle .toggle-block{ background-color:#033b4a; }

	/* tabs */
	.ttm-tabs ul.tabs.text-right{ text-align: left !important; }

	.ttm-reset-content-center-1199 * { text-align: center!important;}

	/* padding */
	.res-1199-ptb-0{ padding: 0px !important; }
	.res-1199-ptb-35{ padding-top: 35px !important; padding-bottom: 35px !important;	}
	.res-1199-ptb-50{ padding-top: 50px !important; padding-bottom: 50px !important; }
	.res-1199-ptb-100{ padding-top: 100px !important; padding-bottom: 100px !important; }
	.res-1199-ptb-150{ padding-top: 150px !important; padding-bottom: 150px !important; }
	.res-1199-ptb-200{ padding-top: 200px !important; padding-bottom: 200px !important; }
	.res-1199-pt-0{ padding-top: 0px !important; }
	.res-1199-pt-40 { padding-top: 40px !important;}
	.res-1199-pb-30{ padding-bottom: 30px !important; }
	.res-1199-pb-0{ padding-bottom: 0px !important; }
	.res-1199-pl-30{ padding-left: 30px !important; }
	.res-1199-pl-0{ padding-left: 0px !important; }
	.res-1199-pb-50{ padding-bottom: 50px !important; }
	.res-1199-mt-0{ margin-top: 0 !important; }
	.res-1199-mt-10{ margin-top: 10px !important; }
	.res-1199-mt-20{ margin-top: 20px !important; }
	.res-1199-mb-10{ margin-bottom: 10px !important; }
	.res-1199-mb-20{ margin-bottom: 20px !important; }
	.res-1199-mtb-0{ margin-top: 0 !important; margin-bottom: 0px !important;}
	.res-1199-mr-0{ margin-right: 0 !important; }
	.res-1199-mlr-15{ margin-left: 15px !important; margin-right: 15px !important; }
	.res-1199-plr-0{ padding-left: 0px !important; padding-right: 0px !important; }
	.res-1199-plr-15{ padding-left: 15px !important; padding-right: 15px !important; }
	.res-1199-plr-30{ padding-left: 30px !important; padding-right: 30px !important; }


	/* break-1199-colum */
	.break-1199-colum .row .col-lg-2,
	.break-1199-colum .row .col-lg-3,
	.break-1199-colum .row .col-lg-4,
	.break-1199-colum .row .col-lg-5,
	.break-1199-colum .row .col-lg-6,
	.break-1199-colum .row .col-lg-7,
	.break-1199-colum .row .col-lg-7,
	.break-1199-colum .row .col-lg-9,
	.break-1199-colum .row .col-lg-10,
	.break-1199-colum .row .col-lg-11,
	.break-1199-colum .row .col-lg-12{
		flex: 100% !important;
		max-width: 100% ;
		float: none !important;
		display: block !important;
	}
	.break-1199-colum.bg-layer .row > [class*='col-'] > [class*='ttm-col-bgcolor-yes'],
	.break-1199-colum.bg-layer .row > [class*='col-'] > [class*='ttm-col-bgimage-yes']{ padding-left: 15px; padding-right: 15px; }
	.break-1199-colum .ttm-equal-height-image { display: block; width: 100%; }

	/* ttm-bg-layer */
	.break-1199-colum .ttm-col-bgimage-yes{ height: auto !important; }
	.break-1199-colum .ttm_single_image-wrapper{ text-align: center; }

	.ttm-row .container, .ttm-row .container-fluid, .ttm-page-title-row .container, footer .container, .element-row .container, .sidebar .container{ max-width: 100%; }
	.ttm-row .container, .ttm-page-title-row .container, footer .container, .element-row .container, .sidebar .container{ padding: 0; }
	.ttm-row .container > .row, .ttm-page-title-row .container > .row, footer .container .row, .element-row .container > .row , .sidebar .container > .row{ margin: 0; }

}


@media only screen and (max-width: 1199px) and (min-width: 992px){

	.ttm-row.break-991-colum.bg-layer > .container{ padding: 0 15px; }
}

@media (min-width: 992px){

	/* sidebar-right*/
	.sidebar.ttm-sidebar-right .content-area{ padding-right: 30px; }
	.sidebar.ttm-sidebar-left .content-area, .sidebar .sidebar-right{ padding-left: 30px; }
	.sidebar .sidebar-left{ margin-top: -30px; margin-right: 15px; }
	.sidebar.ttm-sidebar-left .content-area{ margin-right: -30px; padding-right: 30px;}
	.sidebar .sidebar-left.ttm-left-span .ttm-col-wrapper-bg-layer{ margin-right: -15px; }
}

@media only screen and (max-width: 1170px) and (min-width: 991px){
	.ttm-center-video-icon {
	    left: 30%;
	}
}

@media (max-width: 991px){

	.break-991-colum .row .col-md-7,
	.break-991-colum .row .col-md-5,
	.break-991-colum .row .col-md-4,
	.break-991-colum .row .col-md-3,
	.break-991-colum .row .col-md-6,
	.break-991-colum .row .col-md-9{
		flex: 100% !important;
		max-width: 100% !important;
		float: none !important;
		display: block !important;
	}
	.break-991-colum.bg-layer .container > .row > [class*='col-'] > [class*='ttm-col-bgcolor-yes'] {
		padding-left: 15px;
		padding-right: 15px;
	}
	.row-equal-height > [class*='col-'],
	.ttm-equal-height-image, .featured-imagebox img,
	.break-991-colum .ttm-equal-height-image { display: block; width: 100%; }

	.ttm_single_image-wrapper , .ttm-reset-content-center-991 * {  text-align: center!important; margin-left: -50px;}
	.ttm_single_image-wrapper .text-right{ text-align: left !important; }

	.ttm-fbar-main-w{ display: none; }

	/* ttm-bg-layer */
	.break-991-colum .ttm-col-bgimage-yes, .break-991-colum.bg-layer-equal-height .ttm-col-bgcolor-yes{ height: auto !important; }

	/* ttm-btn */
	.ttm-btn.float-right{ float: none!important; }

	/* title */
	.row-title h2.title{ font-size: 34px; line-height: 40px; }
	.section-title h2.title{ font-size: 32px; line-height: 38px;}


	h1 { font-size: 40px; line-height: 45px; }
	h2 { font-size: 30px; line-height: 35px; }
	h3 { font-size: 25px; line-height: 30px; }
	h4 { font-size: 20px; line-height: 25px; }
	h5 { font-size: 16px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 18px; }

	/* ttm-row */
	body .page.ttm-sidebar-true .site-main,
	.ttm-row { padding: 50px 0 !important; }
	.ttm-row.about-section{ padding: 50px 0 30px !important; }
	.ttm-row.client-section{ padding: 10px 0 !important; }
	.ttm-row.fid-section{ padding: 50px 0 25px !important; }
	.ttm-row.row-top-section,
	.ttm-row.cta-section,
	.ttm-row.broken-section,
	.ttm-row.experiance-section {
		padding: 0px 0px !important;
	}
	.ttm-row.clientbox-section{ padding: 10px 0 15px !important; }
	.ttm-row.multi-section{ padding: 0 0 50px !important; }
	.ttm-row.expertise-section, .ttm-row.overview-section{ padding: 50px 0 30px; }
	section.error-404 { padding: 50px 0 80px;}


	/* spacing */
	.spacing-1{ margin-top: 0; margin-left: 0; padding: 50px 15px 40px; }
	.spacing-2{ padding: 50px 15px 30px; margin: 0;}
	.spacing-3{ margin-left: 0; margin-right: 0; padding: 50px 15px; }
	.spacing-4{ padding-left: 30px; padding-right: 30px; }
	.spacing-5{ padding-top: 50px; padding-bottom: 35px; }
	.spacing-6{ margin-top: 0; margin-left: 0px; padding-top: 50px; padding-left: 0; padding-bottom: 50px;}
	.spacing-7{ padding-left: 30px; padding-right: 30px; }
	.spacing-8{ padding-left: 15px; padding-right: 15px; }


	/* fid */
	.ttm-fid-border .inside{ padding-left: 15px; }

	/* testimonial */
	.testimonials .testimonial-content{ margin: 0; padding: 0; }
	.ttm-testimonial-box-view-style1 .testimonial-content { padding: 25px 25px 29px; margin-left: 180px; }

	/* footer */
	.footer .widget { margin: 30px 0 0; }
	.first-footer .widget-area:not(:last-child) .widget{ margin-bottom: 20px; }
	.footer .second-footer { padding: 15px 0 35px; }

	/* team-single */
	.ttm-team-member-single-content-area .ttm-team-member-content{ padding: 0 15px 45px; margin-left: 0;}
	.ttm-team-member-content{ padding-top: 0; }

	/* portfolio-single */
	.ttm-pf-single-related-wrapper{ padding-top: 30px; }

	/* sidebar */
	.sidebar .content-area{ padding-top: 40px; padding-bottom: 50px; }
	.sidebar .sidebar-right{ padding-top: 15px; }
	.sidebar .sidebar-right, .sidebar .sidebar-left{ padding-bottom: 10px; }

	/* map */
	.map-wrapper{ height: 290px !important; padding: 0px !important; }

	/* element-page */
	.element-row  { padding: 50px 0 0; }
	.element-row > .section-title h2.title{ margin-top: 0px ;}

	/* margin */
	.res-991-ml-0{ margin-left: 0 !important ; }
	.res-991-mr-0{ margin-right: 0 !important; }
	.res-991-mt-0{ margin-top: 0 !important; }
	.res-991-mb-0{ margin-bottom: 0 !important; }
	.res-991-mtb-0{ margin-top: 0 !important; margin-bottom: 0px !important;}
	.res-991-mt_15{ margin-top: -15px !important;}
	.res-991-mt_30{ margin-top: -30px !important; }
	.res-991-mt_50{ margin-top: -50px !important; }
	.res-991-mt_80{ margin-top: -80px !important; }
	.res-991-mt_100{ margin-top: -100px !important; }
	.res-991-mt-30{ margin-top: 30px !important;}
	.res-991-mt-40{ margin-top: 40px !important; }
	.res-991-mt-50{ margin-top: 50px !important; }
	.res-991-mb-15{ margin-bottom: 15px !important;}
	.res-991-mb-20{ margin-bottom: 30px !important;}
	.res-991-mb-30{ margin-bottom: 30px !important;}
	.res-991-mb-40{ margin-bottom: 40px !important;}
	.res-991-mb-50{ margin-bottom: 50px !important;}
	.res-991-mlr-15{ margin-left: 15px !important; margin-right: 15px !important; }

	/* padding */
	.ttm-page-title-row{ padding: 70px 0 75px; }
	.res-991-p-0{ padding: 0 ! important;}
	.res-991-pt-10{ padding-top: 10px !important; }
	.res-991-pt-15{ padding-top: 15px !important; }
	.res-991-pt-30{ padding-top: 30px !important; }
	.res-991-pt-40{ padding-top: 40px !important; }
	.res-991-pt-45{ padding-top: 45px !important; }
	.res-991-pt-50{ padding-top: 50px !important; }
	.res-991-ptb-0{ padding-top: 0px !important ; padding-bottom: 0px !important ; }
	.res-991-pt-0 { padding-top: 0px !important; }
	.res-991-pl-0 { padding-left: 0px !important; }
	.res-991-pr-15 { padding-right: 15px !important; }
	.res-991-pr-0 { padding-right: 0px !important; }
	.res-991-pl-15 { padding-left: 15px !important; }
	.res-991-pb-0{ padding-bottom: 0px !important }
	.res-991-pb-5{ padding-bottom: 5px !important }
	.res-991-pb-10{ padding-bottom: 10px !important }
	.res-991-pb-20{ padding-bottom: 20px !important }
	.res-991-pb-30{ padding-bottom: 30px !important }
	.res-991-pb-50{ padding-bottom: 50px !important }
	.res-991-pb-60{ padding-bottom: 60px !important }
	.res-991-pb-70{ padding-bottom: 70px !important }
	.res-991-pb-80{ padding-bottom: 80px !important }
	.res-991-pb-90{ padding-bottom: 90px !important }
	.res-991-pb-100{ padding-bottom: 100px !important }
	.res-991-plr-0{ padding-left: 0px  !important; padding-right: 0px !important;	}
	.res-991-plr-15{ padding-left: 15px !important; padding-right: 15px !important;	}
	.res-991-ptb-35{ padding-top: 35px !important; padding-bottom: 35px !important;	}
	.res-991-ptb-50{ padding-top: 50px !important; padding-bottom: 50px !important; }
	.res-991-ptb-100{ padding-top: 100px !important; padding-bottom: 100px !important; }
	.res-991-ptb-150{ padding-top: 150px !important; padding-bottom: 150px !important; }
	.res-991-ptb-200{ padding-top: 200px !important; padding-bottom: 200px !important; }

	/* calendar */
	.calendar table td{ height: 115px; }
	.calendar .calendar-frame tbody td::after{ top: 32px; }

	/* shop */
	.ttm-single-product-details{ margin-bottom: 0; }
	.single .products .product .onsale{ top: -15px; }
}


@media (min-width: 768px){

	div.product.ttm-single-product-details div.images {
    width: 48%;
    float: left;
	}
	div.product.ttm-single-product-details div.summary {
	    width: 48%;
	    float: right;
	}
	.row-top-section .col-lg {
	    -ms-flex-preferred-size: 0;
	    flex-basis: 0;
	    -ms-flex-positive: 1;
	    flex-grow: 1;
	    max-width: 100%;
	}

	.featured-icon-box.style4:hover {
	    margin-top: -30px;
	    margin-bottom: -40px;
	}
}

@media (max-width: 767px){

	/* ttm-search-overlay */
	.ttm-search-overlay .ttm-search-outer .ttm-form-title{ font-size: 26px; line-height: 40px; }
	.ttm-search-overlay .ttm-search-outer{ border: none; }
    .ttm-search-overlay .ttm-site-searchform{ margin-left: 0; left: 0; right: 0; }

	/* Page-Title */
	.title-box .page-title-heading, .breadcrumb-wrapper{ display: block; text-align: left; }
	.breadcrumb-wrapper .breadcrumb-wrapper-inner{ padding: 0; background: transparent; }
	.title-box .page-title-heading h1{ font-size: 38px ; line-height: 41px; }

	/* footer */
	.ttm-footer-cta-wrapper .widget-area:not(:last-child) { margin-bottom: 20px; }
	.widget.widget_nav_menu.menu-footer-services-menu ul li,
	.widget.widget_nav_menu.menu-footer-services-menu ul li:nth-child(even){
		width: 100%;
		margin-left: 0;
	}

	/* .ttm-box-seperator */
	.ttm-box-seperator .featured-icon-box {
	    padding: 20px 20px 5px;
	}

	.client-box.ttm-box-view-separator-logo .client-thumbnail:after{ display: none; }
	.client-box .ttm-client-logo-tooltip{ padding-top: 30px; }

	/* calendar */
	.calendar thead th{ padding: 2px 0; font-size: 13px; }
	.calendar table td{ height: 90px; font-size: 18px;}
	.calendar .calendar-frame tbody td::after{ top: 25px; height: 40px; width: 40px; }


	/* shop */
	.banner-image, .ttm-product-image-box{ text-align: center; }
	div.product ul.tabs li.active a:before{ content: unset; }

	/* margin */
	.res-767-mb-0{	margin-bottom: 0px!important; }
	.res-767-ml-0{	margin-left: 0px!important; }
	.res-767-mb-15{	margin-bottom: 15px!important; }
	.res-767-mb-30{	margin-bottom: 30px!important; }
	.res-767-mt-0{ margin-top: 0px !important; }
	.res-767-mt-30{	margin-top: 30px !important; }
	.res-767-mt-40{	margin-top: 40px !important; }
	.res-767-mt-0{ margin-top: 0px !important; }
	.res-767-mt_15{	margin-top: -15px !important; }


	/* padding */
	.res-767-plr-15{ padding: 0 15px !important; }
	.res-767-pl-15{ padding-left: 15px !important; }
	.res-767-pr-15{ padding-right: 15px !important; }
	.res-767-pl-0{ padding-left: 0px !important; }
	.res-767-pr-0{ padding-right: 0px !important; }
	.res-767-p-30{ padding: 30px; }
	.res-767-pb-30{	padding-bottom: 30px!important;	}
	.res-767-pt-30{	padding-top: 30px!important; }
	.res-767-pt-15{	padding-top: 15px!important; }

	/* single-team */
	.ttm-team-member-appointment-btn-wrapper{ position: unset; }

	/* tab */
	.ttm-tabs.ttm-tab-style-vertical .content-tab{ padding: 10px 20px; }
	.ttm-tabs.ttm-tab-style-horizontal ul.tabs li,
	.ttm-tabs.ttm-tab-style-horizontal ul{ display: block; margin-right: 0; }
	.ttm-tabs.ttm-tab-style-horizontal ul.tabs li a{ border-radius: 0; }

	/* cart */
	.ttm-cart-form, .checkout{ padding: 0; }
	table.shop_table:not(.checkout-review-order-table) tr td{ display: block; text-align: right; }
	table .cart_item .product-thumbnail,
	.shop_table_responsive thead{ display: none; }
	table.shop_table:not(.checkout-review-order-table) tbody tr{ display: block; }
	table.shop_table_responsive tr.cart_item td:not(.product-remove)::before {
	    content: attr(data-title) ": ";
	    font-weight: 700;
	    float: left;
	}
	.coupon{ float: none; padding-bottom: .5em; }
	td.actions button{ width: 100%; }
	.coupon input, td.actions .coupon .button{ width: auto; }
	.quantity{ display: inline-block; }
	.cart-collaterals{ margin-top: 0px; }
	.cart-collaterals .cart_totals{ width: 100%; float: none; }

}


@media (max-width: 591px){

	/* footer */
		.newsletter-form input[type="submit"] {
		margin: 0 auto;
		display: block;
	    margin-top: 15px;
	    text-align: center;
	    position: initial;
	    height: 45px;
	}
	.first-footer .ttm-footer-cta-wrapper{ padding-left: 0; padding-right: 0; }

	.ttm-footer2-left{ text-align: center; }
	.ttm-footer2-right{ text-align: center; }
}


@media (max-width: 575px){

	.site-branding img{ max-height: 53px; }

	.ttm-fid-border .row > [class*='col-']:not(:last-child) { border-bottom: 1px solid ; }
	.ttm-facts-colum-sep .col-md-3{ padding: 10px 0 0; }
	.ttm-fid-view-topicon{ padding: 0; }

	/* calendar */
	.calendar table td{ height: 60px; font-size: 15px;}
	.calendar .calendar-frame tbody td::after{ content: unset; }
	.calendar .calendar-frame tbody td.today{
		background: #e3f2f9;
    	color: #555;
	}

	/* margin */
	.res-575-mb-0{	margin-bottom: 0px!important; }
	.res-575-mb-15{	margin-bottom: 15px!important; }
	.res-575-mb-30{	margin-bottom: 30px!important; }
	.res-575-mt-0{ margin-top: 0px !important; }
	.res-575-mt-30{	margin-top: 30px !important; }
	.res-575-mt-40{	margin-top: 40px !important; }
	.res-575-mt-0{ margin-top: 0px !important; }


	/* padding */
	.res-575-pl-15{ padding-left: 15px !important; }
	.res-575-pr-15{ padding-right: 15px !important; }
	.res-575-pl-0{ padding-left: 0px !important; }
	.res-575-pr-0{ padding-right: 0px !important; }
	.res-575-p-30{ padding: 30px; }
	.res-575-pb-30{	padding-bottom: 30px!important;	}
	.res-575-pt-30{	padding-top: 30px!important; }
	.res-575-pt-15{	padding-top: 15px!important; }

	/* single-blog */
	.ttm-post-prev-next-buttons{ text-align: center; }
	.ttm-post-prev-next-buttons a.float-right{ float: none !important; }
	.comments-area .comment-form .comment-form-author, .comments-area .comment-form .comment-form-email, .comments-area .comment-form .comment-form-url{
		width: 100%;
	}


	/* .ttm-testimonial-box-view-style1 */
	.ttm-testimonial-box-view-style1 .testimonial-avatar{ float: right; width: 100%; display: block; }
	.ttm-testimonial-box-view-style1 .testimonial-content{ margin-left: 10; margin-top: 30px;}
	.ttm-bgcolor-skincolor .ttm-testimonial-box-view-style1 .testimonial-content::after,
	.ttm-testimonial-box-view-style1 .testimonial-content::after{
		top: -37px;
		left: 60px;
		border-left: 17px solid transparent;
        border-right: 17px solid transparent;
        border-bottom: 20px solid rgba(255,255,255,.05);
    }
    .ttm-bgcolor-skincolor .ttm-testimonial-box-view-style1 .testimonial-content::after{
    	border-bottom: 20px solid rgba(0,0,0,.05)
    }

}

@media only screen and (max-width: 480px){

	li.bbp-forum-info, li.bbp-topic-title {
	    width: 45%;
	}
	li.bbp-forum-topic-count, li.bbp-forum-reply-count, li.bbp-topic-voice-count, li.bbp-topic-reply-count {
	    width: 15%;
	}
	.bbpress-forums div.bbp-search-form {
	    float: none;
	}
	.bbpress-forums div.bbp-reply-author img.avatar {
	    position: absolute;
	    top: 15px;
	    left: 0;
	    width: 60px;
	    height: auto;
	}
	.bbpress-forums .bbp-body div.bbp-reply-author {
	    margin: -15px 10px 10px;
	    min-height: 100px;
	    padding-left: 80px;
	    position: relative;
	    text-align: left;
	    width: 100%;
	}
	.bbpress-forums div.bbp-reply-author a.bbp-author-name {
	    display: inline-block;
	    margin-left: 0;
	    word-wrap: break-word;
	}
	.bbpress-forums .bbp-body div.bbp-reply-content {
	    clear: both;
	    margin: 10px;
	    padding: 0;
	}

	/* calendar */
	.calendar table td{ height: 45px; font-size: 14px;}

	/* blog-classic */
	article.ttm-blog-classic .ttm-blog-classic-content { padding: 20px 0 20px; }
	.ttm-blog-classic .ttm-blogbox-footer-left{ float: none; }
	.ttm-blog-classic .ttm-social-share-wrapper{ float: none; padding-top: 15px;}

}

@media (max-width: 325px){

	.bbpress-forums li.bbp-header li.bbp-forum-info,
	.bbpress-forums li.bbp-body li.bbp-forum-info,
	.bbpress-forums li.bbp-header li.bbp-topic-title,
	.bbpress-forums li.bbp-body li.bbp-topic-title {
	    width: 100%;
	}
	.bbpress-forums li.bbp-header li.bbp-forum-topic-count, .bbpress-forums li.bbp-header li.bbp-forum-reply-count,
	.bbpress-forums li.bbp-body li.bbp-forum-topic-count, .bbpress-forums li.bbp-body li.bbp-forum-reply-count,
	.bbpress-forums li.bbp-header li.bbp-topic-voice-count, .bbpress-forums li.bbp-header li.bbp-topic-reply-count,
	.bbpress-forums li.bbp-body li.bbp-topic-voice-count, .bbpress-forums li.bbp-body li.bbp-topic-reply-count {
		width: 20%;
	}
	.bbpress-forums li.bbp-header li.bbp-forum-freshness, .bbpress-forums li.bbp-body li.bbp-forum-freshness,
	.bbpress-forums li.bbp-header li.bbp-topic-freshness, .bbpress-forums li.bbp-body li.bbp-topic-freshness {
		width: 58%;
	}
	.bbpress-forums li.bbp-header li.bbp-forum-info, .bbpress-forums li.bbp-header li.bbp-topic-title {
	    text-align: center;
	    text-transform: uppercase;
	}

}
