/**
          1. ttm-row

          2. Row-Equal-Height

          3. Bg-Layer

          4. Row-Bg-Image

          5. Col-Bg-Image

          6. highlight-text

          7. Section-Title

          8. sep_holder

          9. Buttons

          10. Icons

          11. Fid

          12. featured-icon-box

          13. Featured-imagebox

          14. Calendar

          15. Progress-Bar

          16. Testimonial

          17. Client-row

          18. Accordion

          19. Wrap-Form

          20. Tab

          21. Boxes-Spacing

          22. Pricing-Plan

          23. Sidebar

          24. products

**/


/* ===============================================
    1.ttm-row
------------------------*/

.ttm-row{ padding: 95px 0;}
.ttm-row.row-top-section{ padding: 0 0; }
.ttm-row.about-section{ padding: 100px 0 45px; }
.ttm-row.broken-section{ padding: 0 0; }
.ttm-row.services-section{ padding: 125px 0 51px; }
.ttm-row.cta-section{ padding: 0 0; }
.ttm-row.client-section{ padding: 85px 0 30px; }
.ttm-row.blog-section{ padding: 92px 0 100px; }
.ttm-row.introduction-section{ padding: 100px 0 100px; }
.ttm-row.quality-services-section{ padding:90px 0 92px }
.ttm-row.action-section{ padding: 90px 0 100px; }
.ttm-row.portfolio-section{ padding: 91px 0 88px; }
.ttm-row.fid-section{ padding: 0 0; }
.ttm-row.intro-section{ padding: 40px 0; }
.ttm-row.service-section{}
.ttm-row.healthcare-section{ padding: 100px 0 78px; }
.ttm-row.featured-section{ padding: 60px 0; }
.ttm-row.testimonial-section.bg-img2{ padding: 91px 0 142px; }
.ttm-row.clientbox-section{ padding: 90px 0 70px; }
.ttm-row.experiance-section{ padding: 0 0; }
.ttm-row.overview-section{ padding: 82px 0 45px; }
.ttm-row.banner-box-section{ padding: 100px 0 70px; }
.ttm-row.expertise-section { padding: 55px 0 35px; }
.ttm-row.cta-form-section{ padding: 60px 0 60px; }
.ttm-row.product-section{ padding: 0 0 125px; }


/* ===============================================
    2.Row-Equal-Height
------------------------*/

.row-equal-height{ display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex;}
.row-equal-height > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* ===============================================
    3.Bg-Layer
------------------------*/

.ttm-bg{ position: relative;}
.ttm-col-bgimage-yes, .ttm-col-bgcolor-yes{ z-index: 1; }
.ttm-col-bgimage-yes, .bg-layer-equal-height .ttm-col-bgcolor-yes{ height: 100%; }
.ttm-bg-layer , .ttm-titlebar-wrapper .ttm-titlebar-wrapper-bg-layer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.ttm-left-span .ttm-col-wrapper-bg-layer {
    width: auto;
    margin-left: -100px;
    right: 0;
}
.ttm-right-span .ttm-col-wrapper-bg-layer {
    width: auto;
    margin-right: -100px;
    right: 0;
}
.ttm-bg.ttm-bgimage-yes>.ttm-bg-layer { opacity: .97 }
.layer-content{ position: relative; z-index: 9; height: 100%; }

.bg-layer > .container > .row { margin: 0; }
.bg-layer > .container > .row > [class*='col-'] ,
.bg-layer > .container-fluid > .row > [class*='col-'] { padding: 0; }


/* ===============================================
    4.Row-Bg-Image
------------------------*/
.ttm-bg-pattern {
    background: url(../images/pattern-1.jpg) repeat 0 0;
}

.bg-img1{
    background-image: url(../images/bg-image/row-bgimage-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.bg-img2{
    background-image: url(../images/bg-image/row-bgimage-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}
.bg-img3{
    /* background-image: url(../images/bg-image/row-bgimage-3.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-img4{
    background-image: url(../images/bg-image/row-bgimage-4.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.bg-img5{
    background-image: url(../images/bg-image/row-bgimage-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-img6{
    background-image: url(../images/bg-image/row-bgimage-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-map{
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* ===============================================
    5.Col-Bg-Image
------------------------*/

.ttm-equal-height-image{ display: none; }
.col-bg-img-one.ttm-col-bgimage-yes .ttm-col-wrapper-bg-layer{
    background-image: url(appoint.jpg) !important;
    background-position: left center!important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
/* .col-bg-img-two.ttm-col-bgimage-yes .ttm-col-wrapper-bg-layer{
    background-image: url(appoint.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
} */
.col-bg-img-three.ttm-col-bgimage-yes .ttm-col-wrapper-bg-layer{
    background-image: url(appoint.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
 .col-bg-img-four.ttm-col-bgimage-yes .ttm-col-wrapper-bg-layer{
    background-image: url(appoint.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
 .col-bg-img-five.ttm-col-bgimage-yes .ttm-col-wrapper-bg-layer{
    background-image: url(appoint.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
} .col-bg-img-six.ttm-col-bgimage-yes .ttm-col-wrapper-bg-layer{
    background-image: url(appoint.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
} .col-bg-img-seven.ttm-col-bgimage-yes .ttm-col-wrapper-bg-layer{
    background-image: url(g9.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}


/* ===============================================
    6.highlight-text
------------------------*/

.highlight-text h2{
    text-align: left;
    font-size: 90px;
    line-height: 90px;
    font-family: 'Poppins',Arial,Helvetica;
    font-weight: 600;
}
.highlight-text  {
    background: url(../images/highlight-text-bg.jpg) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: center center;
}
.max-content{ max-width: max-content !important; width: auto;}


/* ===============================================
    7.Section-Title
------------------------*/
.section-title{
    position: relative;
    margin-bottom: 18px;
}
.section-title h5{
    font-family: "Saira",Arial,Helvetica,sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1.5px;
    color: #9dabaf;
    margin-top: 5px;
    margin-bottom: 5px;
}
.section-title h2.title{
    font-family: "Saira",Arial,Helvetica,sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    color: #033b4a;
    margin-bottom: 5px;
}
.row-title h2.title {
    font-size: 40px;
    line-height: 49px;
}
.row-title h5{
    margin-bottom: 10px;
}
.section-title.with-desc { margin-bottom: 40px; }
.section-title.with-desc .title-desc{ margin-top: 6px; display: inline-block; }


/* ===============================================
    8.sep_holder
------------------------*/
.sep_holder_box{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}
.sep_holder_box .sep_holder {
    height: 1px;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 10%;
}
.sep_holder .sep_line {
    height: 1px;
    border-top: 1px solid #f2f2f2;
    display: block;
    position: relative;
    top: 1px;
    width: 100%;
}
.ttm-bgcolor-darkgrey .sep-line{
    border-color: rgba(255,255,255,0.14);
}
.ttm-bgcolor-white .sep-line{
    border-color: #f1f1f1;
}


/* ===============================================
    9.Buttons
------------------------*/
.ttm-btn{
    display: inline-block;
    font-size: 16px;
    line-height: normal;
    padding: 11px 32px 11px 31px;
    background: transparent;
    border: 1px solid transparent;
    position: relative;
    font-weight: 600;
    font-family: "Saira",Arial,Helvetica,sans-serif;
    letter-spacing: 1px;
    overflow: hidden;
    z-index: 9;
    vertical-align: middle;
    text-transform: capitalize;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.ttm-btn.ttm-icon-btn-left{ padding-left: 44px; }
.ttm-btn.ttm-icon-btn-right{ padding-right: 44px; }
.ttm-btn.ttm-icon-btn-left i{ left: 20px;}
.ttm-btn.ttm-icon-btn-right i{ right: 20px;}
.ttm-btn.ttm-icon-btn-right{ padding-right: 22px; }
.ttm-btn.ttm-icon-btn-right i{ right: 2px; }

.ttm-bgcolor-darkgrey .ttm-btn:hover.btn-inline.ttm-btn-color-skincolor{
    background-color: transparent;
    color: #fff;
}

/** btn-with-icon **/
.ttm-btn i{
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.ttm-btn.ttm-icon-btn-right{ text-align: right; }
.ttm-btn.ttm-icon-btn-left { text-align: left; }

/** btn-size-xs **/
.ttm-btn.ttm-btn-size-xs { font-size: 11px; padding: 8px 20px;}
.ttm-btn.ttm-btn-size-xs.ttm-icon-btn-right{ padding-right: 31px; }
.ttm-btn.ttm-btn-size-xs.ttm-icon-btn-left{ padding-left: 31px; }
.ttm-btn.ttm-btn-size-xs.ttm-icon-btn-left i{ left: 12px; }
.ttm-btn.ttm-btn-size-xs i {
    font-size: 14px;
    height: 11px;
    line-height: 11px;
    right: 12px;
}

/** btn-size-sm **/
.ttm-btn.ttm-btn-size-sm { font-size: 13px; padding: 10px 24px 10px 24px; }
.ttm-btn.ttm-btn-size-sm.ttm-icon-btn-right{ padding-right: 39px; }
.ttm-btn.ttm-btn-size-sm.ttm-icon-btn-left{ padding-left: 39px; }
.ttm-btn.ttm-btn-size-sm.ttm-icon-btn-left i{ left: 16px;}
.ttm-btn.ttm-btn-size-sm i {
    font-size: 11px;
    height: 12px;
    line-height: 12px;
    right: 16px;
}

/** btn-size-md **/
.ttm-btn.ttm-btn-size-md { font-size: 13px; padding: 13px 30px 13px 30px; }
.ttm-btn.ttm-btn-size-md.ttm-icon-btn-right { padding-right: 48px; }
.ttm-btn.ttm-btn-size-md.ttm-icon-btn-left{ padding-left: 48px; }
.ttm-btn.ttm-btn-size-md.ttm-icon-btn-left i{ left: 20px;}
.ttm-btn.ttm-btn-size-md.ttm-icon-btn-right i {
    font-size: 11px;
    height: 11px;
    line-height: 11px;
    right: 20px;
}

/** btn-size-lg **/
.ttm-btn.ttm-btn-size-lg { font-size: 20px; line-height: 20px; padding: 18px 45px;}
.ttm-btn.ttm-btn-size-lg.ttm-icon-btn-right { padding-right: 60px; }
.ttm-btn.ttm-btn-size-lg.ttm-icon-btn-left{ padding-left: 60px; }
.ttm-btn.ttm-btn-size-lg.ttm-icon-btn-left i{ left: 25px;}
.ttm-btn.ttm-btn-size-lg.ttm-icon-btn-right i {
    font-size: 20px;
    height: 16px;
    line-height: 16px;
    right: 25px;
}

/** btn-shape **/
.ttm-btn.ttm-btn-shape-round { border-radius: 2em; }
.ttm-btn.ttm-btn-shape-rounded { border-radius: 5px; }
.ttm-btn.ttm-btn-shape-square { border-radius: 0; }

/** btn-style-border **/
.ttm-btn.ttm-btn-style-border{ background-color: transparent; border: 1px solid; }
.ttm-btn.ttm-btn-color-white.ttm-btn-style-border {
    color: #fff;
    border-color: #fff;
    background: transparent;
}

/** btn-inline **/
.ttm-btn.btn-inline{
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 600;
    padding: 0;
    border: 1px solid transparent;
    background-color: transparent;
}

/* videao-btn */
.ttm-video-btn.video-btn-left{ left: 0; }
.ttm-video-btn.text-center{
    position: absolute;
    left: 0;
    right: 0;
    top: 165px;
}
.video-btn-left .ttm-play-btn{ padding-left: 90px; }
.ttm-video-btn.video-btn-center {
    left: 50%;
    margin-top: -25px;
    position: absolute;
    top: 50%;
}
.ttm-video-btn:hover a {
    opacity: 0.9;
    color: #fff;
}
.ttm-play-btn {
    margin-bottom: 30px;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    display: block;
    padding: 10px 20px 10px 50px;
    position: relative;
}
.ttm-video-btn .ttm-btn-play {
    height: 65px;
    width: 65px;
    line-height: 65px;
    border-radius: 50%;
    padding-left: 7px;
    text-align: center;
    font-size: 25px;
    font-variant: normal;
    text-rendering: auto;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    -webkit-transform: translate(-25%,-10%);
    -ms-transform: translate(-25%,-10%);
    -o-transform: translate(-25%,-10%);
    transform: translate(-25%,-10%);
}
.ttm-btn-play:after, .ttm-btn-play:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}
.ttm-btn-play:after{
    z-index: 1;
    width: 95px;
    height: 95px;
    opacity: .50;
}
.ttm-btn-play:before {
    z-index: 2;
    width: 75px;
    height: 75px;
    opacity: .65;
    z-index: -1;
}
.ttm-play-btn:hover,
.ttm-video-btn span.ttm-btn-play{
    color: #fff;
}
.ttm-btn-play i{
    z-index: 9;
    position: relative;
}
.ttm-btn-play:after, .ttm-btn-play:before {
    -webkit-animation:scaling 1.05s infinite;
    -moz-animation:scaling 1.05s infinite;
    -ms-animation:scaling 1.05s infinite;
    -o-animation:scaling 1.05s infinite;
    animation:scaling 1.05s infinite;
}
@-webkit-keyframes scaling{

    100% {
            width:200%;height:200%;opacity:0
        }
    }
@keyframes scaling{

    100% {
            width:200%;height:200%;opacity:0
        }
    }



/* ===============================================
    10.Icons
------------------------*/
.ttm-icon{
    margin-bottom: 35px;
    display: inline-block;
    text-align: center;
    border: 2px solid transparent;
    position: relative;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    box-sizing: content-box;
    position: relative;
}

.ttm-icon i{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/** icon-size-xs **/
.ttm-icon.ttm-icon_element-size-xs { height: 40px; width: 40px; line-height: 40px; }
.ttm-icon.ttm-icon_element-size-xs i { font-size: 19px; }

/** icon-size-sm **/
.ttm-icon.ttm-icon_element-size-sm { height: 45px; width: 45px; line-height: 45px; }
.ttm-icon.ttm-icon_element-size-sm i { font-size: 28px; }

/** icon-size-md **/
.ttm-icon.ttm-icon_element-size-md { height: 56px; width: 56px; line-height: 56px }
.ttm-icon.ttm-icon_element-size-md i { font-size: 30px; }

/** icon-size-lg **/
.ttm-icon.ttm-icon_element-size-lg { height: 58px; width: 60px; line-height: 60px; }
.ttm-icon.ttm-icon_element-size-lg i { font-size: 45px; }

/** icon-shape **/
.ttm-icon.ttm-icon_element-style-round { border-radius: 5px; }
.ttm-icon.ttm-icon_element-style-rounded { border-radius: 50%; }
.ttm-icon.ttm-icon_element-style-square { border-radius: 0;}

/** icon-style-border **/
.ttm-icon.ttm-icon-color-black.ttm-icon-style-border { background-color: transparent; }

/* ttm-list-style-icon */
.ttm-list.ttm-list-style-icon {
    list-style: none;
    padding: 0;
    margin: 0;
}
.ttm-list.ttm-list-style-icon li {
    position: relative;
    padding-bottom: 7px;
    font-family: "Saira",Arial,Helvetica,sans-serif;
}
.ttm-list.ttm-list-style-icon li i {
    position: absolute;
    left: 0px;
    top: 5px;
}
.ttm-list.ttm-list-style-icon .ttm-list-li-content {
    display: inline-block;
    padding-left: 30px;
    font-weight: 500;
}

/* ttm-video-icon */
.ttm-video-icon .ttm-icon.ttm-icon_element-size-md{
    height: 70px;
    width: 70px;
}
.ttm-video-icon .ttm-icon.ttm-icon_element-size-md i{ padding-left: 7px; }
.ttm-right-video-icon, .ttm-left-video-icon, .ttm-center-video-icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
}


/* ===============================================
    11.Fid
------------------------*/
.inside {
    text-align: center;
    position: relative;
    padding: 29px 15px 21px 15px;
    margin-bottom: 30px;
}
.ttm-fid-view-lefticon .ttm-fid-icon-wrapper {
    position: absolute;
    top: 36px;
}
.ttm-fid-icon-wrapper i {
    font-size: 40px;
}
.ttm-fid-view-lefticon .ttm-fid-contents {
    padding-left: 60px;
    text-align: left;
}
.inside h4 {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 40px;
    line-height: 45px;
}
.inside h3 {
    margin-bottom: 0;
    bottom: -11px;
    width: 100%;
    color: #033b4a;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    padding-top: 0;
}
.inside h3 span {
    padding: 2px 4px 0 4px;
    display: block;
}

.ttm-fid-border .inside{
    margin-bottom: 0;
    padding-top: 29px;
    padding-bottom: 25px;
    padding-left: 29px;
}
.ttm-fid-border .row > [class*='col-'] {
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-left: 1px solid rgba(0,0,0,.1);
}
.ttm-fid-border .row > [class*='col-']:nth-child(3n+1){ border-left: none; }
.ttm-fid-border .row > [class*='col-']:nth-last-child(-n+3){ border-bottom: none; }

.ttm-highlight-fid {
    position: relative;
    background: #fff;
    padding: 25px 30px;
    max-width: 255px;
    top: -270px;
    left: 80px;
    margin-bottom: -145px;
}
.ttm-highlight-fid:after {
    position: absolute;
    content: '';
    bottom: 0;
    width: 0;
    height: 0;
    left: 20%;
    border: 20px solid transparent;
    border-bottom: 0;
    border-top-color: #fff;
    margin-left: -21px;
    margin-bottom: -19px;
}
.ttm-highlight-fid .ttm-fid-icon-wrapper i {
    font-size: 50px;
}
.ttm-fid-view-lefticon.ttm-highlight-fid .ttm-fid-contents {
    padding-left: 60px;
    text-align: left;
}
.ttm-fid.inside.ttm-highlight-fid h4 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 600;
    color: #033b4a;
}
.ttm-highlight-fid.inside h3 span {
    color: #9dabaf;
}
.ttm-highlight-fid.ttm-fid.inside sup {
    top: -1.2em;
    font-size: 30px;
    font-weight: 400;
    left: 2px;
}


.ttm-fid-view-topicon { padding: 30px 0 2px; padding-left: 0;}
.ttm-facts-colum-sep .col-md-3{ padding: 35px 0 30px; }
.ttm-facts-colum-sep .col-md-3:not(:last-child):after {
    content: "";
    height: 100%;
    width: 1px;
    background-color: rgba(255, 255, 255, .23);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    top: 50%;
    -khtml-transform: translateX(0%) translateY(-50%);
    -moz-transform: translateX(0%) translateY(-50%);
    -ms-transform: translateX(0%) translateY(-50%);
    -o-transform: translateX(0%) translateY(-50%);
    transform: translateX(0%) translateY(-50%);
}
.ttm-fid.ttm-fid-view-topicon .ttm-fid-icon-wrapper {
    margin-bottom: 0;
    width: 122px;
    height: 61px;
    line-height: 61px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
.inside.ttm-fid-view-topicon h4 { font-size: 44px; line-height: 55px; }



/* ===============================================
    12.featured-icon-box ( only contents )
------------------------*/
.featured-icon-box { position: relative;}
.featured-icon-box .ttm-icon{ margin-bottom: -10px; }
.featured-title h5{ font-size: 20px; line-height: 28px; margin-bottom: 10px; font-weight: 600; }
.featured-title h6 { font-size: 13px; line-height: 25px; margin-bottom: 0px; }

.featured-icon-box.top-icon .featured-content{
    padding-top: 14px;
}
.featured-icon-box.featured-icon-hover:hover .ttm-icon {
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
}

.ttm-box-seperator{ margin: 0; }
.ttm-box-seperator .featured-icon-box{ padding: 41px 31px 31px; }
.ttm-box-seperator.row > [class*='col-']{ border-right: 1px solid #f2f2f2; }
.ttm-box-seperator.row > [class*='col-']:last-child{ border-right: none; }

.ttm-box-seperator.ttm-row-seperator > [class*='col-']{ padding: 0; }
.ttm-box-seperator.ttm-row-seperator > [class*='col-']:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #f2f2f2;
}
.featured-icon-box.style1 {
    padding: 32px 35px 11px;
    border: 2px solid transparent;
    margin-bottom: 10px;
}
.featured-icon-box.style1 .ttm-icon.ttm-icon_element-size-lg i{
    font-size: 55px!important;
}
.featured-icon-box.style1 .ttm-icon{
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
}
.featured-icon-box.style1:hover .ttm-icon{
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
    opacity: 1;
}

.featured-icon-box.style2 {
    padding: 41px 30px 1px 30px;
    border: 1px solid #e7f1f4;
    margin-bottom: 10px;
}

.featured-icon-box.left-icon.style3{ padding: 0 0 11px 0; }
.featured-icon-box.left-icon.style3 .ttm-icon.ttm-icon_element-size-md{ height: 75px; width: 75px; margin-right: 10px; margin-top: 5px;}
.featured-icon-box.left-icon.style3 .ttm-icon.ttm-icon_element-size-md i{ font-size: 30px; }


.featured-icon-box.style4 {
    display: table;
    width: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(41,61,88,.1);
    -moz-box-shadow: 1px 1px 3px 0px rgba(41,61,88,.1);
    box-shadow: 1px 1px 3px 0px rgba(41,61,88,.1);
}
.featured-icon-box.style4 .featured-icon-box-inner {
    background: #fff;
    padding: 40px 0 0;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.col-lg:not(:last-child) .featured-icon-box.style4 .featured-icon-box-inner:after{
    display: block;
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    right: 0;
    top: 0;
    background-color: #f2f2f2;
}
.featured-icon-box.style4 .ttm-icon.ttm-icon_element-size-lg i{ font-size: 50px; }
.featured-icon-box.style4 .featured-title h5{ margin-bottom: 0; line-height: 24px;}
.featured-icon-box.style4 .featured-desc p{ margin-bottom: 0; font-size: 13px; }
.featured-icon-box.style4 a.di_link{
    width: 38px;
    height: 38px;
    display: block;
    font-size: 16px;
    line-height: 38px;
    border-radius: 50%;
    margin: 0 auto;
}
.featured-icon-box.style4 .ttm-di_links {
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    overflow: hidden;
}
.featured-icon-box.style4:hover .ttm-di_links {
    margin-top: 20px;
    margin-bottom: 40px;
    opacity: 1;
}

.featured-icon-box.style5{ border: 1px solid #184d5b; padding: 40px 35px 20px 30px; position: relative; overflow: hidden;}
.featured-icon-box.style5 .featured-icon{ margin-bottom: 30px; }
.featured-icon-box.style5 .ttm-icon.ttm-icon_element-size-lg i{ font-size: 50px; }
.featured-icon-box.style5:hover{
    z-index: 1;
}
.featured-icon-box.style5:before {
    position: absolute;
    content: '';
    bottom: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    -webkit-transition: .55s cubic-bezier(.68,1.55,.265,0.55);
    -moz-transition: .55s cubic-bezier(.68,1.55,.265,0.55);
    -ms-transition: .55s cubic-bezier(.68,1.55,.265,0.55);
    -o-transition: .55s cubic-bezier(.68,1.55,.265,0.55);
    transition: .55s cubic-bezier(.68,1.55,.265,0.55);
}
.featured-icon-box.style5:hover:before{ bottom: 0;}


.featured-icon-box.left-icon{ display: table; margin-bottom: 15px;}
.featured-icon-box.left-icon .featured-icon:not(.ttm-icon_element-border),
.featured-icon-box.left-icon .featured-icon,
.featured-icon-box.left-icon .featured-content{
    display: table-cell;
    vertical-align: middle;
}
.featured-icon-box.left-icon.icon-align-top .featured-icon{ vertical-align: top; }
.featured-icon-box.left-icon .featured-content { padding-left: 15px; }
.featured-icon-box.left-icon .featured-title h5{ font-size: 19px; line-height: 22px; }
.featured-icon-box.icon-box-heading-only .featured-icon .ttm-icon.ttm-icon_element-border{ border: 1px solid; }
.featured-icon-box.icon-box-heading-only .featured-title h5{ margin-bottom: 0; }
.featured-icon-box.icon-box-heading-only .featured-desc p{ margin-bottom: 0; }

.featured-icon-box.left-icon .ttm-icon_element-size-md i{ font-size: 25px; }
.featured-icon-box.left-icon .ttm-icon.ttm-icon_element-size-md { height: 30px; width: 30px; }

.featured-icon-box.iconalign-before-heading{ margin-bottom: 15px;}
.featured-icon-box.iconalign-before-heading .ttm-icon.ttm-icon_element-size-md { height: 50px; width: 30px; }
.featured-icon-box.iconalign-before-heading .featured-icon .ttm-icon.ttm-icon_element-border{ border: 1px solid; }
.featured-icon-box.iconalign-before-heading .featured-icon{ padding-right: 15px; }
.featured-icon-box.iconalign-before-heading .featured-icon,
.featured-icon-box.iconalign-before-heading .featured-title{ display: table-cell; vertical-align: middle;}
.featured-icon-box.iconalign-before-heading .featured-title h5{ margin-bottom: 0; }
.featured-icon-box.iconalign-before-heading .featured-title h4{
    font-size: 14px;
    line-height: 18px;
    font-family: 'Ubuntu',Arial,Helvetica;
    font-weight: 400;
    margin-bottom: 0;
}

body{ counter-reset: section; }
.featuredbox-number .ttm-num:before{ counter-increment: section; content: counter(section, decimal-leading-zero) " " ;}

.featured-icon-box .ttm-icon.ttm-icon_element-size-sm{ height: 54px; width: 54px; }
.featured-icon-box .ttm-icon.ttm-icon_element-size-sm i{ font-size: 25px; }



/* ===============================================
    13.featured-imagebox ( contents with image)
------------------------*/
.featured-imagebox .ttm-box-view-content-inner,
.featured-imagebox .featured-thumbnail {
    position: relative;
    overflow: hidden;
}
.featured-imagebox .featured-content .featured-title h5 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
    position: relative;
}
.featured-imagebox .featured-content .category,
.featured-imagebox .featured-content .category a { font-size: 15px; }

.featured-imagebox.ttm-box-view-top-image .featured-content-bottom {
    padding: 23px 30px 20px 30px;
    background-color: #fff;
}
.featured-imagebox.ttm-box-view-top-image .featured-content-bottom .featured-title h5{
    margin-bottom: 5px;
}


/* portfolio */
.featured-imagebox-portfolio{ position: relative;}
.ttm-boxes-row-wrapper .ttm-box-col-wrapper{ margin-bottom: 30px; }
.ttm-portfolio-box-view-overlay.ttm-box-view-overlay{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    opacity: 0;
    z-index: 1;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transform: translateX(-5px)translateY(5px);
    transform: translateX(-5px)translateY(5px);
    background-color: rgba(3,59,74,.85);
}
.featured-imagebox-portfolio:hover .ttm-portfolio-box-view-overlay.ttm-box-view-overlay{
    opacity: 1;
    -webkit-transform: translateX(0)translateY(0);
    transform: translateX(0)translateY(0);
}
.ttm-portfolio-box-view-overlay.ttm-box-view-overlay .ttm-box-view-content-inner{
    padding: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.ttm-portfolio-box-view-overlay .ttm-box-view-content-inner .featured-title{
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    -webkit-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}
.ttm-portfolio-box-view-overlay .ttm-box-view-content-inner span.category {
    display: block;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    -webkit-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}
.ttm-portfolio-box-view-overlay:hover .ttm-box-view-content-inner .featured-title,
.ttm-portfolio-box-view-overlay:hover .ttm-box-view-content-inner span.category {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.ttm-portfolio-box-view-overlay .ttm-box-view-content-inner .featured-title h5{
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
    text-overflow: ellipsis;
}
.ttm-portfolio-box-view-overlay .ttm-box-view-content-inner span.category a,
.featured-imagebox-portfolio .category{
    font-family: "Saira",Arial,Helvetica,sans-serif;
    font-size: 12px;
}
.ttm-portfolio-box-view-overlay .featured-iconbox.ttm-media-link a {
    display: inline-block;
    border-radius: 0%;
    font-size: 16px;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    border: 1px solid transparent;
    text-align: center;
}


.featured-imagebox-portfolio.ttm-box-view-top-image .ttm-box-bottom-content {
    padding: 20px 20px;
    position: relative;
    text-align: center;
    background-color: #fff;
}
.featured-imagebox-portfolio.ttm-box-view-top-image .ttm-box-bottom-content .featured-title h5,
.featured-imagebox-portfolio.ttm-box-view-top-image .ttm-box-bottom-content .featured-title h5 a{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.featured-imagebox-portfolio.ttm-box-view-top-image .ttm-box-bottom-content .featured-title h5{
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 25px;
}
.featured-imagebox-portfolio.ttm-box-view-top-image .category {
    color: #828c95;
    margin-top: -3px;
    display: block;
}
.featured-imagebox-portfolio.ttm-box-view-top-image .featured-iconbox.ttm-media-link a {
    top: 50%;
    right: 50%;
    margin-top: -17px;
    margin-right: -17px;
}


/* team */
.featured-imagebox-team{
    overflow: hidden;
    position: relative;
}
.featured-imagebox-team .ttm-team-position {
    font-size: 13px;
    color: #9dabaf;
}
.featured-imagebox-team .featured-title h5 {
    font-size: 20px;
    line-height: 26px;
    margin-top: -2px;
    font-weight: 500;
    margin-bottom: 15px;
}
.featured-imagebox-team.ttm-team-box-view-overlay{
    margin: 5px 0;
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px 0 rgba(41,61,88,.1);
    -moz-box-shadow: 0 0 15px 0 rgba(41,61,88,.1);
    box-shadow: 0 0 15px 0 rgba(41,61,88,.1);
}
.featured-imagebox-team.ttm-team-box-view-overlay .featured-thumbnail{
    border: 8px solid #fff;
    border-bottom: none;
}
.featured-imagebox-team.ttm-team-box-view-overlay .featured-content {
    text-align: center;
    position: relative;
    z-index: 2;
    padding: 11px 18px 2px;
}
.featured-imagebox-team.ttm-team-box-view-overlay .ttm-box-view-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    text-align: left;
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    background-color: rgba(3,59,74,.9);
    border: 8px solid #01d6a3;
    border-bottom: none;
}
.featured-imagebox-team.ttm-team-box-view-overlay:hover .ttm-box-view-overlay{
    opacity: 1;
}
.featured-imagebox-team .ttm-media-link a{
    border: none;
    text-align: center;
    height: 35px;
    width: 35px;
    line-height: 35px;
    border-radius: 0%;
    color: #fff;
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: scale(0);
    -webkit-transform: scale(0);
    -webkit-transition: all 0.4s ease-out 0s;
    transition: all 0.4s;
    font-weight: 600;
    font-size: 16px;
    margin-top: -18px;
    margin-left: -17px;
}
.featured-imagebox-team.ttm-team-box-view-overlay:hover .ttm-box-view-overlay a {
    transform: scale(1);
    -webkit-transform: scale(1);
}


.featured-imagebox-team .ttm-team-box-view-overlay .featured-content-team{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    padding: 30px;
    padding-bottom: 19px;
    transition-duration: 0.3s;
    color: #fff;
}
.featured-imagebox-team .ttm-team-box-view-overlay .featured-content-team>div{
    display: block;
    position: relative;
    top: 100px;
    transition-duration: 0.3s;
    transition-property: top,opacity;
    transition-delay: 0s;
    opacity: 0;
    text-align: left;
}
.featured-imagebox-team .ttm-team-box-view-overlay .featured-title h5{
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 0;
    font-weight: 500;
}
.featured-imagebox-team .ttm-social-links-wrapper ul{
    padding: 7px 0;
}
.featured-imagebox-team .ttm-social-links-wrapper ul li a{
    display: block;
    color: #fff;
    width: 25px;
    font-size: 15px;
    text-align: left;
    background-color: transparent;
}
.featured-imagebox-team .ttm-team-box-view-overlay{ position: relative; }
.featured-imagebox-team .ttm-team-box-view-overlay:before{
    content: '';
    background: linear-gradient(to bottom,rgba(4,62,76,0) 0%,rgba(4,62,76,.9) 100%);
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    transition-property: top,opacity;
    transition-duration: 0.3s;
}
.featured-imagebox-team:hover .ttm-team-box-view-overlay .featured-content-team>div,
.featured-imagebox-team:hover .ttm-team-box-view-overlay:before {
    opacity: 1;
}
.featured-imagebox-team:hover .ttm-team-box-view-overlay:before,
.featured-imagebox-team:hover .ttm-team-box-view-overlay .featured-content-team>div{
    top :0;
}


/* post */
.featured-imagebox-post .featured-content .featured-title h5{
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 22px;
    line-height: 29px;
    font-weight: 500;
}
.ttm-post-featured-outer{ position: relative; }
.ttm-post-format-icon {
    position: absolute;
    right: 20px;
    top: 0;
    opacity: 0;
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    left: auto;
    -webkit-transform: translate3d(20px,20px,0);
    transform: translate3d(20px,20px,0);
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    z-index: 2;
    font-size: 17px;
}
.featured-imagebox-post:hover .ttm-post-format-icon {
    opacity: 1;
    -webkit-transform: translate3d(0,20px,20px);
    transform: translate3d(0,20px,20px);
}
.ttm-box-post-date {
    bottom: -30px;
    left: 20px;
    top: auto;
    height: 62px;
    width: 69px;
    position: absolute;
    font-weight: 500;
    font-size: 31px;
    line-height: 18px;
    padding-top: 13px;
    padding-bottom: 7px;
    z-index: 1;
    text-align: center;
}
.ttm-box-post-date .entry-month, .ttm-box-post-date .entry-year{
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    text-transform: capitalize;
}
.ttm-box-post-date .entry-year{ padding-left: 3px; }

.post-meta{
    margin: 0 0 5px 0;
    font-size: 12px;
    padding: 0 2px 1px 0;
}
.ttm-box-view-top-image .post-meta {
    display: inline-block;
    padding: 7px 3px 3px 0;
    margin: 0 0 0 0;
}
.post-meta .ttm-meta-line {
    padding-right: 10px;
    position: relative;
    color: #9dabaf;
    font-size: 12px;
}
.post-title h5 {
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 22px;
    line-height: 29px;
    font-weight: 500;
}
.post-desc {
    margin-top: 10px;
    padding-top: 7px;
    border-top: 1px solid #f2f2f2;
}
.ttm-post-format-video {
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative;
    overflow: hidden;
}
.ttm-post-format-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* ttm-box-view-top-image*/
.featured-imagebox-post.ttm-box-view-top-image .featured-content-post{
    background-color: #fff;
    padding: 0;
    border-bottom: 3px solid #f2f2f2;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.featured-imagebox-post.ttm-box-view-top-image .featured-content {
    padding: 40px 20px 15px 20px;
}
.featured-imagebox-post.ttm-box-view-top-image .post-desc{ padding-top: 13px; }


/* ttm-box-view-left-image*/
.featured-imagebox-post.ttm-box-view-left-image{
    margin: 5px 7px 7px;
    margin-left: 0;
}
.ttm-box-view-left-image .ttm-featured-img-left {
    padding: 0;
}
.featured-imagebox-post.ttm-box-view-left-image .featured-content-post{
    padding: 20px 20px 20px 25px;
}
.featured-imagebox-post.ttm-box-view-left-image .ttm-box-post-date{
    bottom: 11px;
    left: 11px;
}
.featured-imagebox-post.ttm-box-view-left-image .post-desc{ padding-top: 7px; }


/* event */
.featured-imagebox.featured-imagebox-event.ttm-box-view-top-image .featured-content-bottom {
    background-color: #fff;
    padding: 15px 25px 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 0 10px 0 rgba(3,59,74,.1);
    -moz-box-shadow: 0 0 10px 0 rgba(3,59,74,.1);
    box-shadow: 0 0 10px 0 rgba(3,59,74,.1);
}
.featured-imagebox-event.ttm-box-view-top-image .featured-content-bottom .featured-title h5{
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 10px;
}
.featured-imagebox-event.ttm-box-view-top-image .ttm-meta-date {
    position: relative;
    border-radius: 50%;
    margin-top: -50px;
    z-index: 2;
    width: 70px;
    height: 70px;
    font-size: 27px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 18px;
}
.ttm-meta-date .ttm-event-date {
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
}
.featured-imagebox-event.ttm-box-view-top-image .ttm-meta-date .ttm-event-date .entry-month {
    font-size: 14px;
    line-height: 24px;
    display: block;
    font-weight: 400;
}
.ttm-eventbox-footer {
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding-left: 25px;
    margin-left: -25px;
    margin-right: -25px;
    padding-top: 14px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.ttm-eventbox-footer .ttm-btn{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.tribe-events-vanue i{ padding-right: 5px; }
.featured-imagebox-event.ttm-box-view-top-image:hover .featured-thumbnail img {
    transform: scale(1.05);
}


/* ===============================================
    14.Calendar
------------------------*/
.calendar {
    text-align: center;
    width: 100%;
}
.calendar header {
    padding: 36px 20px;
    font-size: 2.2rem;
    font-weight: 500;
    position: relative;
}
.calendar header span {
    display: inline-block;
    line-height: 20px;
    font-size: 20px;
}
.calendar header .button {
    width: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    cursor: pointer;
    top: 27px;
    color: #fff;
}
.calendar header .right.button { right:0; }
.calendar header .left.button { left: 0; }
.calendar header .header-label {
    font-size: 22px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
}
.calendar table {
    margin: 0;
    background:#fff;
    border-collapse: collapse;
}
.calendar thead th {
    width: 12%;
    border: 1px solid #e5e5e5;
    padding: 10px 0;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}
.calendar thead th:not(:last-child) {
    border-right:1px solid #fff;
}
.calendar table td {
    overflow: hidden;
    position: relative;
    font-size: 20px;
    color: #333;
    padding: 0 !important;
    margin: 0 !important;
    border-right: 1px solid #e5e5e5;
    height: 160px;
}
.calendar .calendar-frame tbody td::after{
    position: absolute;
    content: '';
    display: block;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    left: 0;
    top: 55px;
    right: 0;
    margin: 0 auto;
    border: 2px solid transparent;
}
.calendar .calendar-frame tbody td:not(.disabled).selected {
    background:#eee;
    color:#555;
}
.calendar .calendar-frame tbody td:hover {
    cursor: pointer;
}
.calendar .calendar-frame tbody td:last-child {
    cursor: not-allowed;
    background: #f5f5f5 !important;
    color: #ccc !important;
}
.calendar .calendar-frame tbody td:last-child::after{
    border: #f5f5f5 !important;
}


.calendar.small header {
    padding: 8px 20px 12px;
    font-size: 1.8rem;
}
.calendar.small header .button{ top:0; }
.calendar.small table td{ height: 45px; font-size: 14px; }
.calendar.small thead th{ padding: 0; font-size: 12px; }
.calendar.small .calendar-frame tbody td::after{ content: unset; }


/* ===============================================
    15.Progress-Bar
------------------------*/
.ttm-progress-bar{ position: relative; }
.ttm-progress-bar{ margin: 0 0 15px 0; }
.ttm-progress-bar:not(:last-child){ margin-bottom: 30px; }
.ttm-progress-bar .progress .progress-bar.progress-bar-color-bar_black { background-color: #414141; }
.ttm-progress-bar h4 {
    top: -35px;
    left: 0;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 9px;
    letter-spacing: 0.5px;
}
.ttm-progress-bar i{
    position: absolute;
    font-size: 21px;
}
.ttm-progress-bar .progress {
    background-color: #c0c0c1;
    border-radius: 0;
    height: 7px;
}
.ttm-progress-bar .progress-parcent {
    position: absolute;
    right: 0;
    color: #0a0a0a;
    z-index: 3;
    text-shadow: none;
    font-size: 17px;
    padding: 2px 0;
    border-radius: 0;
    top: 0;
}
.ttm-icon-left-true.ttm-progress-bar h4{ margin-left: 35px; }
.ttm-progress-bar.ttm-icon-left-true:not(:last-child){ margin-bottom: 24px; }


/* ===============================================
    16.Testimonial
------------------------*/
.testimonials{
    position: relative;
}
.testimonials .testimonial-caption h5 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: -8px;
}
.testimonials .testimonial-caption label{
    font-size: 11px;
    margin: 0;
}
.testimonials .testimonial-img{
    display: inline-block;
    z-index: 9;
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.testimonials .testimonial-img img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    height: auto;
    width: 100%;
    transition: opacity 400ms;
    transform: translateZ(0)!important;
    -webkit-transform: translateZ(0);
}
.testimonials .testimonial-content{
    text-align: center;
    background: transparent;
    border-left: none;
    font-size: 17px;
    line-height: 31px;
    margin: 0 10px 18px;
    padding: 0 25px;
}
.testimonials .testimonial-content blockquote{
    padding: 15px 0 20px 0;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    font-style: italic;
    position: relative;
}
.testimonial-content blockquote:after {
    content: '\f10e';
    font-family: "FontAwesome";
    font-size: 65px;
    line-height: 65px;
    position: absolute;
    bottom: 20px;
    right: 15px;
    opacity: .1;
    width: 72px;
    height: 60px;
}
.star-ratings ul{ padding: 0; margin: 0;}
.star-ratings ul li{ display: inline-block; font-size: 13.8px; color: #fd4;}


/* .ttm-testimonial-box-view-style1 */
.ttm-testimonial-box-view-style1 .testimonial-avatar{
    text-align: center;
    max-width: 165px;
    float: left;
    padding-bottom: 0;
}
.ttm-testimonial-box-view-style1 .testimonial-caption{
    margin-top: 4px;
    margin-left: 0;
    margin-right: 20px;
    display: block;
    width: 100%;
}
.ttm-testimonial-box-view-style1 .testimonial-content{
    text-align: left;
    position: relative;
    margin: 0;
    padding: 25px 28px 29px;
    background-color: #f9fafa;
    margin-left: 160px;
}
.ttm-testimonial-box-view-style1 .testimonial-content:after {
    display: block;
    content: "";
    position: absolute;
    top: 30px;
    left: -20px;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-right: 20px solid #f9fafa;
    border-bottom: 17px solid transparent;
}
.ttm-testimonial-box-view-style1 .testimonial-content blockquote {
    border: none;
    font-size: 17px;
    line-height: 30px;
    font-style: italic;
    font-weight: 400;
    padding: 0 0 17px 0;
    margin: 0;
}
.ttm-bgcolor-skincolor .ttm-testimonial-box-view-style1 .testimonial-content blockquote:after{ opacity: .2; }

/* .ttm-testimonial-box-view-style2 */
.ttm-testimonial-box-view-style2 .testimonial-content{
    text-align: left;
    padding: 40px 0 35px;
    padding-top: 0;
    margin: 0;
}
.ttm-testimonial-box-view-style2 .testimonial-content:before {
    content: '\f10d';
    font-family: "FontAwesome";
    font-size: 43px;
    display: inline-block;
    margin-top: 5px;
}
.ttm-testimonial-box-view-style2 .testimonial-avatar{
    padding-top: 12px;
    margin-top: 4px;
    margin-left: 0;
    margin-right: 20px;
    display: block;
    width: 100%;
}
.ttm-testimonial-box-view-style2 .testimonial-img,
.ttm-testimonial-box-view-style3 .testimonial-img{
    height: 55px;
    width: 55px;
}
.ttm-testimonial-box-view-style2 .testimonial-img img,
.ttm-testimonial-box-view-style3 .testimonial-img img{
    border-radius: 0;
    -webkit-border-radius: 0;
}
.ttm-testimonial-box-view-style2 .testimonial-img,
.ttm-testimonial-box-view-style2 .testimonial-caption{
    float: left;
    display: inline-block;
}
.ttm-testimonial-box-view-style2 .testimonial-caption{
    margin-left: 18px;
    padding-top: 4px;
}
.ttm-testimonial-box-view-style2 .testimonial-content blockquote,
.ttm-testimonial-box-view-style3 .testimonial-content blockquote{
    padding: 10px 10px 17px 0;
}

/* .ttm-testimonial-box-view-style3 */
.ttm-testimonial-box-view-style3 .testimonial-content{
    padding: 0;
    margin: 0;
}
.ttm-testimonial-box-view-style3 .testimonial-content:before {
    content: '\f10d';
    font-family: "FontAwesome";
    display: inline-block;
    font-size: 21px;
    width: 42px;
    height: 42px;
    line-height: 44px;
    background-color: #033a49;
    border-radius: 50%;
    margin-bottom: 5px;
}
.ttm-testimonial-box-view-style3 .testimonial-caption h5,
.ttm-testimonial-box-view-style3 .testimonial-caption label{ display: inline-block; }
.ttm-testimonial-box-view-style3 .testimonial-caption label:before{
    content: '/';
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 6px;
}


/* ===============================================
    17.Client-row
------------------------*/
.client-box{
    position: relative;
    text-align: center;
}
.client-box .ttm-client-logo-tooltip{
    padding-top: 40px;
    padding-bottom: 30px;
}
.client-box .ttm-client-logo-tooltip .client-thumbnail{
    padding: 8px 12px;
    position: relative;
}
.client-box.ttm-box-view-separator-logo .client-thumbnail:after {
    border-right: 1px solid rgba(238,238,238,1);
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    right: -10px;
}
.client-box.ttm-box-view-separator-logo.client-thumbnail:not(:last-child):after{ content: unset; }
.client-box .tooltip-top:after, .client-box .tooltip-top:before, .client-box .tooltip:after,
.client-box .tooltip:before, .client-box [data-tooltip]:after, .client-box [data-tooltip]:before {
    bottom: 68%;
}

.client-box.ttm-box-view-logo .ttm-client-logo-tooltip .client-thumbnail{
    padding: 25px 12px;
}
.client-box.ttm-box-view-logo .ttm-client-logo-tooltip .client-thumbnail{
    -webkit-box-shadow: 0 0 15px 0 rgba(41,61,88,.1);
    -moz-box-shadow: 0 0 15px 0 rgba(41,61,88,.1);
    box-shadow: 0 0 15px 0 rgba(41,61,88,.1);
}


/* ===============================================
    18.Accordion
------------------------*/
.wrap-acadion .accordion { margin-top: 15px; }
.accordion .toggle{
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
    margin-bottom: 22px;
}
.accordion .toggle-title a{
    font-family: "Saira",Arial,Helvetica,sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: .5px;
    position: relative;
}
.accordion .toggle-title a i{ margin-right: 15px; }
.accordion .toggle-content {
    display: none;
    margin-top: 15px;
}
.accordion .toggle .toggle-title{ position: relative; }
.accordion .toggle .toggle-title:after {
    position: absolute;
    font-family: "FontAwesome";
    right: 0px;
    top: 0px;
    display: inline-block;
    content: "\f067";
    color: #2a2a2a;
    padding: 1px 2px;
    border: 2px solid;
    border-radius: 50%;
    font-size: 10px;
    line-height: 10px;
}
.accordion .toggle.active .toggle-title:after {
    content: "\f068";
}

/* toggle(ttm-style-classic) */
.accordion .toggle.ttm-style-classic{
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}
.accordion .toggle.ttm-style-classic:first-child{ margin-top: 0; }
.accordion .toggle.ttm-style-classic:last-child{ margin-bottom: 0; }

.accordion .toggle.ttm-style-classic .toggle-title {
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    border: 1px solid transparent;
}
.accordion .toggle.ttm-style-classic .toggle-title:after{
    top: 35%;
    right: 20px;
    border: 0;
    font-size: 14px;
}
.accordion .toggle.ttm-style-classic .toggle-title a{
    font-size: 16px;
    font-weight: 500;
    background: 0 0;
    display: block;
    padding: 14px 20px;
    position: relative;
    -webkit-transition: color 0s ease-in-out;
    -o-transition: color 0s ease-in-out;
    transition: color 0s ease-in-out;
}
.accordion .toggle.ttm-style-classic .toggle-title a:after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rgba(255,255,255,.14);
    left: 54px;
    top: 0;
}
.accordion .toggle .toggle-title .ttm-title-text {
    margin-left: 14px;
}
.accordion .toggle.ttm-style-classic .toggle-content{
    background-color: #f9fafa;
    padding : 14px 30px;
    margin: 0;
}
.accordion .toggle.ttm-style-classic .toggle-content p{ margin: 0; }

/* toggle(ttm-toggle-title-bgcolor-grey) */
.accordion .toggle.ttm-style-classic.ttm-toggle-title-bgcolor-grey:not(.active) {
    margin-bottom: 20px;
}
.accordion .toggle.ttm-style-classic.ttm-toggle-title-bgcolor-grey .toggle-title .ttm-title-text{
    margin: 0;
}
.accordion .ttm-style-classic.ttm-toggle-title-bgcolor-grey .toggle-title {
    border-color: #f7f2f2;
    background-color: #f8f8f8;
}
.accordion .toggle.ttm-style-classic.ttm-toggle-title-bgcolor-grey .toggle-content{
    background-color: transparent;
}
.accordion .toggle.ttm-toggle-title-bgcolor-grey .toggle-title:after{ font-size: 18px; font-weight: 900; }
.accordion .toggle.ttm-toggle-title-bgcolor-grey .toggle-title:after{ content: "\f107"; }
.accordion .toggle.ttm-toggle-title-bgcolor-grey.active .toggle-title:after{ content: '\f106'; }


/* ===============================================
    19.Wrap-Form
------------------------*/
.wrap-form label{
    width: 100%;
    margin: 0;
}
.wrap-form span.text-input {
    margin-bottom: 15px;
    display: block;
    padding-top: 5px;
    position: relative;
}
.wrap-form span.text-input i {
    position: absolute;
    left: 10px;
    top: 21px;
    opacity: .9;
    font-size: 14px;
    z-index: 1;
}
.ttm-make-appoint-form span.text-input input,
.ttm-make-appoint-form span.text-input select {
    border: 1px solid transparent;
    background-color: #f9fafa;
    color: #9dabaf;
    width: 100%;
    padding: 10px 15px;
    padding-left: 33px;
    font-size: 13px;
    letter-spacing: 1px;
}
.ttm-make-appoint-form span.text-input select{ height: 45px; }
.ttm-make-appoint-form span.text-input input::placeholder{ color: #9dabaf; }
.ttm-make-appoint-form input[type="submit"] { margin-top: 20px; }
.ttm-make-appoint-form input[type="submit"] {
    padding: 10px 25px;
    margin-top: 25px;
    width: 100%;
    font-size: 13px;
}


/* contactform */
.wrap-form.ttm-contactform label:nth-last-child(-n+3){ margin: 0 0 10px; }
.wrap-form.ttm-contactform span.text-input i {
    position: absolute;
    left: 0;
    top: 20px;
    opacity: .9;
    font-size: 16px;
    z-index: 1;
}
.wrap-form.ttm-contactform span.text-input input, .wrap-form.ttm-contactform span.text-input textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #eaeaea;
    border-radius: 0;
    padding-left: 30px;
    padding-bottom: 9px;
}
.wrap-form.ttm-contactform input[type="submit"] { margin: 28px 0 10px; }


/* contactform-style2 */
.wrap-form.ttm-contactform.style2 span.text-input input, .wrap-form.ttm-contactform.style2 span.text-input textarea {
    border: 1px solid #f2f2f2;
    background-color: #f9fafa;
    width: 100%;
    color: #9dabaf;
}
.wrap-form.ttm-contactform.style2 span.text-input{ margin-bottom: 25px; }
.wrap-form.ttm-contactform.style2 input[type="submit"] {
    padding: 13px 40px;
    margin-top: 15px;
    width: 100%;
    border-radius: 0;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}


/* ===============================================
    20.Tab
------------------------*/
.ttm-tabs ul.tabs{
    width:100%;
    margin: 0;
    padding: 0;
}
.ttm-tabs ul.tabs li{
    display: inline-block;
    margin-right: 5px;
}
.ttm-tabs ul.tabs li a{
    display: block;
    cursor: pointer;
    padding: 8px 25px;
    margin-bottom: 5px;
    line-height: 22px;
    width: auto;
    position: relative;
    z-index: 3;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid;
    border-radius: 0;
    text-transform: uppercase;
}
.ttm-tabs ul.tabs li a i {
    font-size: 18px;
    margin-right: 9px;
    position: relative;
    top: 2px;
}

.ttm-tabs .content-tab{ margin-top: 20px; width: 100%;}
.ttm-tabs .content-tab h6{ font-size: 15px; line-height: 28px; margin-bottom: 29px; padding-bottom: 7px; }


/* ttm-tab-style-vertical */
.ttm-tabs.ttm-tab-style-vertical .content-tab{ padding: 0 20px 0 5px; margin: 0;}
.ttm-tabs.ttm-tab-style-vertical ul.tabs li { margin-top: 1px; width: 100%; display: block;}
.ttm-tabs.ttm-tab-style-vertical ul.tabs li a{
    font-family: "Saira",Arial,Helvetica,sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 14px 20px;
    display: block;
    text-transform: capitalize;
}

/* ttm-tab-style-horizontal */
.ttm-tabs.ttm-tab-style-horizontal ul{ margin: 0; padding: 0; display: -webkit-flex; display: flex; }
.ttm-tabs.ttm-tab-style-horizontal ul.tabs li{ margin-right: 6px; display: inline-block; }
.ttm-tabs.ttm-tab-style-horizontal ul.tabs li:last-child{ margin-right: 0; }
.ttm-tabs.ttm-tab-style-horizontal ul.tabs li a{ padding: 16px 18px 15px 18px; font-size: 15px; border-radius: 5px;
    letter-spacing: 1.2px; border: none; color: #fff; display: block; text-align: left;}
.ttm-tabs.ttm-tab-style-horizontal .content-tab img{ height: 150px; width: 150px; }

.ttm-tab-color-grey.ttm-tab-style-classic ul li{
    margin-top: 3px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 2px;
}
.ttm-tab-color-grey.ttm-tab-style-classic ul li a{
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 12px 25px;
    border: 1px solid;
    border-top: 3px solid;
    letter-spacing: .5px;
    font-family: "Saira",Arial,Helvetica,sans-serif;
}
.ttm-tab-color-grey.ttm-tab-style-classic ul li a{ border-color: #f1f4f5; background-color: #f1f4f5; }
.ttm-tab-color-grey.ttm-tab-style-classic .content-tab h5{ font-size: 19px; line-height: 26px; margin: 0;}


/* ===============================================
    21.Boxes-Spacing
------------------------*/
.row.ttm-boxes-spacing-10px{ margin: 0px -1px;}
.ttm-boxes-spacing-10px .ttm-box-col-wrapper {
    padding-right: 5px;
    padding-left: 5px;
    margin: 0 0 10px;
}
.row.ttm-boxes-spacing-10px.style2{ padding: 10px 0 0; margin: 0 -5px; }

.row.ttm-boxes-spacing-5px{ padding: 10px 5px 0px; margin: 0;}
.ttm-boxes-spacing-5px .ttm-box-col-wrapper {
    padding-right: 2.5px;
    padding-left: 2.5px;
    margin-bottom: 5px;
}
.row.ttm-boxes-spacing-5px.style2{ padding: 5px 0 0; margin: 0 -5px; }


/* ===============================================
    22.Pricing-Plan
------------------------*/
.ttm-pricing-plan{
    margin-bottom: 30px;
    background-color: #f7f9fa;
    text-align: center;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: hidden;
}
.ttm-pricing-plan .ttm-ptable-main {
    padding: 60px 0 80px;
    display: block;
    position: relative;
}
.ttm-pricing-plan .ttm-ptablebox-title {
    background-color: #fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    float: none;
    position: absolute;
    width: 290px;
    left: -150px;
    padding-left: 150px;
    padding-right: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
    padding-top: 8px;
}
.ttm-pricing-plan .ttm-ptablebox-title h3{
    font-size: 17px;
    font-family: "Ubuntu",Tahoma,Geneva,sans-serif;
}
.ttm-ptablebox-price-w {
    position: relative;
    display: inline-block;
    padding-top: 20px;
}
.ttm-pricing-plan .ttm-ptablebox-frequency {
    position: absolute;
    right: -70px;
    top: 33px;
}
.ttm-pricing-plan .ttm-ptablebox-cur-symbol-before {
    position: absolute;
    top: 27px;
    left: 0;
    font-size: 50px;
    font-weight: 500;
}
.ttm-ptablebox-price-w .ttm-ptablebox-price {
    padding-left: 35px;
}
.ttm-pricing-plan .ttm-ptablebox-price {
    font-size: 50px;
    line-height: 40px;
    font-weight: 500;
    color: #242424;
    font-family: "Saira",Arial,Helvetica,sans-serif;
}
.ttm-pricing-plan .ttm-ptable-icon {
    font-size: 30px;
    line-height: 73px;
    display: inline-block;
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    left: 50%;
    right: 50%;
    color: #fff;
    margin-left: -36px;
    bottom: -37px;
    border: 2px solid #fff;
}
.ttm-pricing-plan .ttm-ptablebox-content {
    padding: 50px 0 30px;
    border: 2px solid #e4e7e8;
}
.ttm-ptablebox-features .ttm-feature-lines {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 12px 50px 38px 50px;
}
.ttm-ptablebox-features .ttm-feature-lines li{
    padding: 0;
    margin: 0;
    padding-top: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 9px;
}
.price_btn {
    display: block;
    padding-top: 21px;
    text-align: center;
}


/* ===============================================
    23.Sidebar
------------------------*/
.sidebar .widget-area .widget {
    position: relative;
    margin: 40px 0 40px;
}
.sidebar .widget-area .widget:last-child{ margin-bottom: 20px; }
.sidebar .widget a {
    font-weight: 500;
    font-size: 15px;
}
.sidebar .widget ul >li {
    border-top: 1px solid #eee;
    padding-bottom: 10px;
    padding-top: 10px;
}
.sidebar .widget ul>li:first-child{
    border-top: none;
    padding-top: 0;
}
.sidebar .content-area{
    padding-top: 65px;
    padding-bottom: 55px;
}
.sidebar .sep_holder .sep_line{ border-color: #ebebeb; }
.sidebar .widget-title{ padding-left: 26px; }
.sidebar .widget-title:before {
    display: block;
    margin-bottom: 0;
    content: '';
    position: absolute;
    top: 13px;
    left: 0;
    width: 17px;
    height: 2px;
    background-color: #000;
}
.sidebar .sidebar-right, .sidebar .sidebar-left {
    margin-top: -37px;
    padding-top: 60px;
    padding-bottom: 70px;
    float: right;
}

/*widget_display_stats*/
.widget_display_stats dl ,.widget_display_stats strong{
    margin: 0;
    font-family: "Ubuntu",Tahoma,Geneva,sans-serif;
}
.widget_display_stats dl dt {
    float: left;
    width: 50%;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal!important;
    margin-bottom: 6px;
}
.widget_display_stats dl dd {
    margin-left: 60%;
    margin-bottom: 6px;
    text-align: right;
}


/*widget-post*/
.widget ul.ttm-recent-post-list>li {
    padding: 15px 0;
}


/*widget-search*/
.widget .ttm_info_widget {
    color: rgba(255,255,255,.95);
    padding: 45px 30px;
    text-align: center;
}
.widget .ttm_info_widget .icon {
    font-size: 50px;
    padding-bottom: 25px;
}
.widget .ttm_info_widget .title h3 {
    font-size: 29px;
    padding-bottom: 10px;
    color: #fff;
    margin-bottom: 0;
    line-height: 32px;
    font-weight: 600;
}
.widget .ttm_info_widget a.view_more {
    text-decoration: underline;
}
.sidebar .widget .ttm_info_widget a:hover, .sidebar .widget .ttm_info_widget a {
    color: #fff;
}


/*widget-search*/
.sidebar .widget.widget-search{ position: relative; }
.sidebar .widget.widget-search .search-form label {
    display: block;
}
.sidebar .widget-search .screen-reader-text {
    clip: rect(1px,1px,1px,1px);
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.sidebar .widget.widget-search .search-form .search-submit {
    position: absolute;
    top: 0;
    right: 0;
    text-indent: -999px;
    padding: 0;
    width: 46px;
    height: 46px;
    z-index: 1;
    border-radius: 0 3px 3px 0;
    background-image: url(../images/search-icon.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    opacity: .5;
}
.sidebar .widget.widget-search .input-text {
    border-width: 1px;
    background-color: #fff;
    border-radius: 0;
    text-indent: 0;
}

/*widget-categories*/
.sidebar .widget_product_categories li, .sidebar .widget-categories li {
    position: relative;
    margin: 5px 0;
    padding-bottom: 5px!important;
}
.sidebar .widget_product_categories li span, .sidebar .widget-categories li span {
    position: absolute;
    right: 0;
    top: 13px;
    width: 22px;
    height: 22px;
    line-height: 21px;
    text-align: center;
    border-radius: 50%;
    display: block;
    font-size: 13px;
    font-weight: 400;
    -webkit-box-shadow: 0 0 10px 0 rgba(3,59,74,.1);
    -moz-box-shadow: 0 0 10px 0 rgba(3,59,74,.1);
    box-shadow: 0 0 10px 0 rgba(3,59,74,.1);
    background-color: #fff;
}
.sidebar .widget-categories li:first-child span {
    top: 3px;
}
.sidebar .widget-categories.widget a{ font-weight: normal; }

/* widget-latest-tweets */
.widget.widget-latest-tweets ul>li {
    position: relative;
    padding-left: 28px;
    padding-bottom: 0;
    border-top: 1px solid #eee;
}
.widget.widget-latest-tweets p.tweet-text:before {
    content: "\f099";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    position: absolute;
    left: 0;
    padding-top: 5px;
}
.widget .latest-tweets ul li p.tweet-text {
    margin-bottom: 0;
    line-height: 24px;
}
.widget .latest-tweets ul li .tweet-text a, .widget .latest-tweets ul li .tweet-details a {
    font-style: italic;
    font-weight: normal;
}
.widget .latest-tweets ul li .tweet-details a {
    font-size: 12px;
    color: #acacac;
}

/* widget-nav-menu */
.widget.widget-nav-menu ul li{
    padding: 0;
}
.widget.widget-nav-menu ul li a{
    display: block;
    padding: 16px 30px 16px 15px;
    position: relative;
    font-weight: 500;
    font-size: 15px;
    background-color: #fff;
}
.sidebar-left .widget-nav-menu ul li::after {
    content: "\e649";
    position: absolute;
    right: 16px;
    top: 15px;
    font-size: 11px;
    font-family: "themify";
}


/* tagcloud */
.sidebar .widget .tagcloud a {
    display: inline-block;
    padding: 7px 25px;
    margin: 0 5px 10px;
    border: none;
    border-radius: 0;
    font-size: 14px!important;
    background-color: #fff;
    font-weight: 500;
    -webkit-box-shadow: 0 0 10px 0 rgba(3,59,74,.1);
    -moz-box-shadow: 0 0 10px 0 rgba(3,59,74,.1);
    box-shadow: 0 0 10px 0 rgba(3,59,74,.1);
}


/* contact-widget */
.sidebar .widget-area .widget.contact-widget {
    padding: 25px 25px 20px;
    background-color: #fff;
}
.sidebar ul.contact-widget-wrapper li i {
    position: absolute;
    top: 6px;
    left: 0;
    font-size: 20px;
}
.sidebar ul.contact-widget-wrapper li {
    padding-left: 30px;
    position: relative;
    padding-top: 0;
    padding-bottom: 10px;
    line-height: 29px;
}

/* pagination */
.ttm-pagination {
   display: block;
    margin-bottom: 30px;
    margin-top: 15px;
    text-align: center;
}
.ttm-pagination .page-numbers {
    width: 40px;
    height: 40px;
    line-height: 39px;
    text-align: center;
    display: inline-block;
    background-color: #f8f9fa;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #f8f9fa;
    border-radius: 0;
    margin: 0 3px;
    padding: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}


/* ===============================================
    24.Products
------------------------*/
.banner-image .ttm-figure a{
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
}
.banner-image .ttm-figure img {
    width: 100%;
    -webkit-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    transition: all .5s ease-in-out 0s;
    -webkit-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
}
.banner-image:hover .ttm-figure img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
}
.banner-image .ttm-figure a:after, .banner-image .ttm-figure a:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 1;
    z-index: 2;
    pointer-events: none;
    background: rgba(255,255,255,.4);
    -webkit-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
}
.banner-image:hover .ttm-figure a:after,
.banner-image:hover .ttm-figure a:before{
    opacity:0;
    -webkit-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1);z-index:-1
}
.banner-image .ttm-figure a:before {
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
}

.products {
    clear: both;
}
.ttm-product-box{
    background-color: #fff;
    margin-bottom: 35px;
    -webkit-box-shadow: 0 0 10px 0 rgba(3,59,74,.1);
    -moz-box-shadow: 0 0 10px 0 rgba(3,59,74,.1);
    box-shadow: 0 0 10px 0 rgba(3,59,74,.1);
}
.ttm-product-box-inner {
    position: relative;
    overflow: hidden;
}
.ttm-product-box-inner:before {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    transition: all 0.4s ease-out 0s;
    -webkit-transition: all 0.4s ease-out 0s;
    z-index: 1;
    background-color: #fff;
}
.product:hover .ttm-product-box-inner:before {
    opacity: .85;
}
.ttm-shop-icon .product-btn {
    display: inline-block;
    width: 40px;
    margin-right: 5px;
}
.products .product .ttm-shop-icon {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 65%;
    right: 0;
    left: 0;
    z-index: 2;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
}
.products .product:hover .ttm-shop-icon{ opacity: 1; }
.products .product .ttm-shop-icon a{
    width: 41px;
    height: 41px;
    line-height: 41px;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    letter-spacing: 1px;
    font-weight: 400;
    display: block;
    -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
    -o-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -o-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
}
.products .product:hover .ttm-shop-icon a {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.products .product .ttm-product-box .ttm-product-content {
    text-align: left;
    padding: 14px 18px 11px;
    border-top: 1px solid #f3f3f3;
    position: relative;
}
.products .product .ttm-product-box .ttm-product-content .ttm-product-title h2{
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 0;
    line-height: 20px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.products .product .price {
    margin: 0;
    min-height: 20px;
    font-size: 15px;
    margin-top: 2px;
}
.products .price .product-Price-amount {
    font-size: 15px;
    font-weight: 400;
}
.products .price del .product-Price-amount {
    font-size: 14px;
    text-decoration: line-through;
    color: #888;
    opacity: .5;
}
.products .price ins {
    text-decoration: none;
    padding: 2px;
}

.products .product .star-ratings {
    position: absolute;
    right: 15px;
    bottom: 9px;
}
.products .star-ratings ul{ padding: 0; margin: 0; }
.products .star-ratings ul li{ display: inline-block; }
.products .star-ratings ul li i{ font-size: 10px; }

.products .product .onsale {
    height: 26px;
    width: 52px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    border-radius: 0;
    padding-top: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    left: 20px;
    z-index: 1;
    margin: -2.5px -5px;
    min-height: auto;
    font-weight: 400;
}

.products-ordering { margin-bottom: 36px; float: right; }
.products-ordering select{
    background-color: #fff;
    text-indent: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
}
.products-ordering .orderby{ position: relative; }
.products-ordering .orderby:after{
   content: '\f0d7';
    font-family: FontAwesome;
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 14px;
}
.products-result-count {
    float: left;
}

/* product-list-widget */
.ttm-sidebar-right ul.product-list-widget .star-ratings ul {
    line-height: normal;
}
.sidebar ul.product-list-widget li img {
    float: right;
    margin-left: 4px;
    width: 50px;
    height: auto;
    box-shadow: none;
}
.star-ratings, .sidebar .star-ratings ul li {
    width: auto;
    margin: 0;
    font-size: 10px;
    letter-spacing: 1px;
}
.ttm-sidebar-right .widget ul.rating>li {
    padding: 0 0;
    border: 0;
    display: inline-block;
    line-height: normal;
}


/* single-product-details */
.ttm-single-product-details {
    background-color: #fff;
    margin-bottom: 30px;
}
.ttm-single-product-info {
    padding: 30px 0px;
    position: relative;
}
.single .products .product .onsale{
    right: 0;
    left: auto;
    top: -33px;
}
div.product.ttm-single-product-details .product-gallery__image img{
    height: auto;
    max-width: 100%;
}
.ttm-single-product-details div.images .product-gallery__image:nth-child(n+2) {
    width: 25%;
    display: inline-block;
}
.screen-reader-text {
    clip: rect(1px,1px,1px,1px);
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
div.product .product_title {
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
    font-size: 30px;
    text-transform: capitalize;
}
div.product .summary .price .Price-amount { font-size: 22px;}
div.product .summary .product-rating {
    float: right;
    margin-bottom: 15px;
}
.summary .star-rating {
    float: left;
    padding: 0;
    margin: 0;
    margin-right: 5px;
}
.summary .star-rating li{
    display: inline-block;
    font-size: 12px;
}
.product_meta {
    padding-top: 17px;
    border-top: 1px solid #ddd;
    margin-top: 15px;
}
.ttm-single-product-details .product-details__short-description {
    margin-top: 20px;
    margin-bottom: 50px;
}
div.product button.cart_button,
.form-submit input{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Saira",Arial,Helvetica,sans-serif;
}
.summary form.cart {
    margin-top: 30px;
    margin-bottom: 30px;
}
div.product form.cart div.quantity {
    float: left;
    margin: 0 4px 0 0;
}
.quantity .qty {
    height: 41px;
    width: 88px;
    text-align: center;
}
.sku_wrapper {
    margin-right: 10px;
}
.posted_in { font-weight: 700; }
.posted_in a { font-weight: 400; }


.tabs-for-single-products.ttm-tabs{ padding: 0 30px 30px 0px; }
div.product ul.tabs li a {
    font-weight: 400;
    color: #515151;
    padding: 13px 30px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    border-color: #e4e4e4;
    background-color: #f9f9f8;
    border-radius: 3px;
    border: 1px solid #e4e4e4;
    position: relative;
}
div.product ul.tabs li { margin: 0 2px; }
div.product ul.tabs li a{color: #515151 !important;}
div.product ul.tabs li.active a,
div.product ul.tabs li:hover a { color: #fff !important; }
div.product ul.tabs li.active a:before{
    display: block!important;
    content: "";
    width: 0;
    height: 0;
    border: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid;
    position: absolute;
    bottom: -8px;
    left: 50%;
    -khtml-transform: translateX(-50%) translateY(0%);
    -moz-transform: translateX(-50%) translateY(0%);
    -ms-transform: translateX(-50%) translateY(0%);
    -o-transform: translateX(-50%) translateY(0%);
    transform: translateX(-50%) translateY(0%);
}
div.product .ttm-tabs .content-inner h2 { font-size: 25px; }
div.product .ttm-tabs .content-tab{ padding: 30px 0 0 0; width: 100%; }
.related.products { margin-top: 50px; }
.related.products h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    padding-bottom: 15px;
}
#reviews #comments ol{ margin: 0; padding: 0; }
#reviews #comments ol.commentlist li img.avatar { width: 65px; }
#reviews #comments ol.commentlist li img.avatar {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px;
    background: #ebe9eb;
    border: 1px solid #e4e1e3;
    margin: 0;
    box-shadow: none;
}
div.product #reviews .star-rating {
    margin: 0;
    margin-top: 7px;
    float: right;
}
#reviews #comments ol.commentlist li {
    padding: 0;
    margin: 0 0 20px;
    position: relative;
    border: 0;
    list-style: none;
}
#reviews #comments ol.commentlist li .comment-text {
    border: 1px solid #e4e1e3;
    padding: 1em 1em 0;
    border-radius: 0;
    margin-left: 80px;
}
#reviews #comments ol.commentlist li .comment-text p.meta {
    font-size: 16px;
    color: #828c96;
    margin-bottom: 9px;
}
div.product .Reviews .star-rating {
    margin: 0;
    margin-top: 7px;
    float: right;
}
.comment-form-rating { padding-bottom: 20px;}
.comment-form-rating .stars{  margin-bottom: 15px; padding: 0;}
#review_form_wrapper .comment-reply-title {
    font-size: 18px;
    line-height: 20px;
    color: #283d58;
}
#review_form_wrapper .comment-respond p { margin: 0 0 10px; }
#reviews #review_form_wrapper select { width: 154px !important; }
#reviews #comment { height: 75px; }
#review_form_wrapper .comment-respond .form-submit { margin-top: 30px; }

table {
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;
    width: 100%;
    margin: 0 0 1.75em;
}
table tbody tr, table thead tr { border: 1px solid #e6e6e6; }
table tbody th { border-right: 1px solid #e6e6e6; }
table.shop_attributes th {
    width: 150px;
    font-weight: 700;
    padding: 8px;
    border-top: 0;
    border-bottom: 1px dotted rgba(0,0,0,.1);
    margin: 0;
    line-height: 1.5;
}
table.shop_attributes td {
    font-style: italic;
    border-top: 0;
    border-bottom: 1px dotted rgba(0,0,0,.1);
    margin: 0;
    padding-left: 10px;
    line-height: 1.5;
}
table.shop_attributes td p {
    margin: 0;
    padding: 8px 0;
}

/* Cart */
.ttm-cart-form,
.checkout{
    margin: 0;
    padding: 30px;
    background-color: #fff;
}
.shop_table{
    border: 1px solid rgba(0,0,0,.1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 0px;
}
table.shop_table tbody tr,
table.shop_table thead tr {
    border: 1px solid #e6e6e6;
}
table.shop_table th {
    font-weight: 700;
    padding: 9px 12px;
    line-height: 1.5em;
    border-top: 1px solid rgba(0,0,0,.1);
}
table.shop_table td {
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 5px 10px;
    vertical-align: middle;
    line-height: 1.5em;
}
table.shop_table .product-thumbnail img{ width: 32px; height: auto; }
table.shop_table td.actions{ text-align: right; }
table.shop_table td.actions .input-text {
    width: 150px;
    float: left;
}
.quantity { height: 41px; width: 88px; }
.coupon { float: left;}
.coupon .input-text{
    float: left;
    margin: 0 4px 0 0;
}
.actions button, .coupon button , a.checkout-button{ border: 0; }
.actions button, .coupon button , a.checkout-button, button.cart_button{
    padding: 15px 30px 15px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1;
    text-align: center;
    font-family:"Saira",Arial,Helvetica,sans-serif;
    letter-spacing: 1px;
}
button.cart_button{ padding: 11px 40px; }
.cart-collaterals { margin-top: 60px; }
.cart-collaterals .cart_totals {
    float: right;
    width: 48%;
}
.cart_totals h2 {
    margin-bottom: 15px;
    font-size: 28px;
}
a.checkout-button { display: block; }
a.remove {
    display: block;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1;
    border-radius: 100%;
    color: red;
    text-decoration: none;
    font-weight: 700;
    border: 0;
}
a.remove:hover { color: #fff; background: red;}

/* checkout */
.ttm-form-coupon-info{
    padding: 1em 2em 1em 3.5em;
    margin: 0 0 2em;
    position: relative;
    background-color: #f7f6f7;
    color: #515151;
    border-top: 3px solid #a46497;
    word-wrap: break-word;
}
.ttm-form-coupon-info::before {
    font-family: "FontAwesome";
    content: '\f2d0';
    display: inline-block;
    position: absolute;
    top: 1em;
    left: 1.5em;
}
.form-row .required {
    color: red;
    font-weight: 700;
    border: 0!important;
    text-decoration: none;
}
form .form-row {
    padding: 3px;
    margin: 0 0 6px;
}
.checkout h3#order_review_heading {
    margin-bottom: 30px;
    margin-top: 15px;
}
.checkout #payment {
    background: #ebe9eb;
    border-radius: 5px;
}
ul.payment_methods {
    text-align: left;
    padding: 1em;
    border-bottom: 1px solid #d3ced2;
    margin: 0;
    list-style: none outside;
}
#payment .payment_box {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    font-size: .92em;
    border-radius: 2px;
    line-height: 1.5;
    background-color: #dfdcde;
    color: #515151;
}
#payment div.form-row { padding: 1em; }
.checkout p:last-child{ margin-bottom: 0; }
#place_order{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    font-family: "Saira",Arial,Helvetica,sans-serif;
    letter-spacing: 1px;
    padding: 12px 35px 12px;
    border: 2px solid transparent;
    border-radius: 0;
    color: #fff;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    cursor: pointer;
    outline: none!important;
    -webkit-font-smoothing: antialiased;
}
