.slider-container1{
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}
.image-container1{
    width: 2400px;
    height: 600px;
    position: relative;
    transition: left 2s;
    -webkit-transition:left 2s;
    -moz-transition:left 2s;
    -o-transition:left 2s;
}

.slider-image1{
    float: left;
    margin: 0px;
    padding: 0px;

}
.button-container1{
    top: -20px;
    position: relative;
}
.slider-button1{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: black;

}
#slider-image1-1:target ~.image-container1{
    left: 0px;
}
#slider-image2-2:target ~.image-container1{
    left: -800px;
}
#slider-image3-3:target ~.image-container1{
    left: -1600px;
}