
<%= simple_form_for(@appointment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :fullname %>
    <%= f.input :email %>
    <%= f.input :phone_number %>
    <%= f.input :appointment_date %>
      <%= f.input :appointment_time %>
    <%= f.input :select_department %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
