<p id="notice"><%= notice %></p>

<h1>Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Appointment date</th>
      <th>Appointment time</th>
      <th>Select department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.fullname %></td>
        <td><%= appointment.email %></td>
        <td><%= appointment.phone_number %></td>
        <td><%= appointment.appointment_date %></td>
        <td><%= appointment.appointment_time %></td>
        <td><%= appointment.select_department %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
