<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Hi,Britannia!</h1>

    <p> Appointment has been booked  Below are the information sent</p>
     <p><b>Email:</b> <%= @appointment.email %> </p>
    <p><b>Department Selected:</b> <%= @appointment.select_department %> </p>
      <p><b>Phone Number:</b> <%= @appointment.phone_number %> </p>
    <p><b>Appointment Date:</b> <%= @appointment.appointment_date.strftime('%d-%m-%y') %></p>
      <p><b>Appointment Time:</b> <%= @appointment.appointment_time.strftime('%H:%M') %></p>


    <br>

  </body>
</html>
