<!DOCTYPE html>
<html>
  <head>
    <title>Britannia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <%= render 'layouts/messages' %>
      <%= yield %>
  </body>
</html>
